<nz-card style="height: 100vh;" nzTitle="SLIDESHOW">
  <div class="flex justify-end">
    <h5 class="ant-typography cursor-pointer" (click)="isVisible = true" style="color: #0084ff;">
      <i nz-icon nzType="plus-circle" nzTheme="outline" class="mr-3"></i>
      <span class="mt-2">Add new image</span>
    </h5>
  </div>
  <nz-list nzBordered>
    <nz-list-item *ngFor="let item of data">
      <span nz-typography><mark>[ITEM]</mark></span>
      {{ item }}
    </nz-list-item>
  </nz-list>
</nz-card>
<nz-modal [nzMaskClosable]="false" [nzWidth]="'40%'" [(nzVisible)]="isVisible" nzTitle="Thêm mới trình độ"
          (nzOnCancel)="isVisible = false" [nzClosable]="false">
  <div *nzModalContent>
    <form nz-form [nzLayout]="'vertical'">
      <nz-form-item class="ant-row">
        <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Hình đại diện</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Nhập số lượng còn trống!">
          <nz-upload
            nzType="drag"
            [nzMultiple]="true"
            [nzName]="'files'"
            nzLimit="20"
            [nzAction]="urlUpload"
            (nzChange)="handleChange($event)"
          >
            <p>Upload file hình ảnh</p>
            <p>Chỉ có tệp .jpg, .jpeg, .gif hoặc .png (3MB).</p>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="ant-row">
        <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Tên</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Nhập số lượng còn trống!">
          <input type="text" nz-input
                 placeholder="Nhập tên đăng nhập"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" nzDanger (click)="isVisible = false">Huỷ</button>
    <button nz-button nzType="primary" [disabled]="" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Lưu
    </button>
  </div>
</nz-modal>
