
.ant-advanced-search-form {
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[nz-form-label] {
  overflow: visible;
}

button {
  margin-left: 8px;
}

.collapse {
  margin-left: 8px;
  font-size: 12px;
}

.search-area {
  text-align: left;
}

.btn-edit {
  background-color: rgb(250 204 21) !important;
  border-color: rgb(254 240 138) !important;
  color: #fff;
}
