<div>
  <nz-tabset
    [(nzSelectedIndex)]="selectedIndex"
    (nzSelectChange)="changeTab()"
    nzType="card"
    *ngIf="loadedPdf"
    (nzAdd)="newTab()"
    (nzClose)="closeTab($event)"
  >
    <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="'Ứng viên ' + tab">
      <div *ngIf="selectedIndex == 0">
        <div class="ant-col ant-col-xs-24 px-2">
          <div class="ant-row pdf-position">
            <div class="ant-col ant-col-xs-24 ant-col-xs-order-0 ant-col-lg-12 ant-col-lg-order-0 px-2">
              <div class="ant-row title-so-yeu">
                <div class="font-so-yeu">Sơ yếu lý lịch</div>&nbsp;<div
                class="font-upload-status">Tải lên thành công
              </div>
              </div>

              <pdf-viewer
                [src]="'https://bvofficeuat.baoviet.com.vn/api/tasks/group/getPdf?photo_path=/data/OfficeFile/file-path/2022/9/2/1662134063_178352.pdf'"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false"
                style="width: 100%; height: 700px;"
              ></pdf-viewer>

            </div>
            <div class="ant-col ant-col-order-1 ant-col-xs-24 ant-col-xs-order-1 ant-col-lg-12 ant-col-lg-order-1 px-2">
              <div class="applicant-form-text pb-3">Hồ sơ</div>
              <div class="form-candidate applicant-wrapper">
                <form class="ant-form ant-form-vertical" nz-form
                      [nzLayout]="'vertical'" [formGroup]="formCandidate">
                  <div class="font-info">Thông tin liên lạc</div>
                  <div class="ant-row pd-8-negative section-form">
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="name_candidate" class="ant-form-item-required" title="Tên">Tên</label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="name_candidate" nz-input formControlName="lastName"
                                     class="ant-input input-form"
                                     type="text" value="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="first_name_form" class="ant-form-item-required"
                            title="Họ">Họ
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="first_name_form" nz-input formControlName="firstName"
                                     class="ant-input input-form"
                                     type="text" value=""></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item ant-form-item-has-success">
                        <div class="ant-col ant-form-item-label">
                          <label for="email_form"
                                 class="ant-form-item-required"
                                 title="Email">Email</label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="email_form" nz-input formControlName="email"
                                     class="ant-input input-form"
                                     type="text" value="hnt2106@gmail.com">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item ant-form-item-has-success">
                        <div class="ant-col ant-form-item-label">

                          <label for="phone_form"
                                 class="ant-form-item-required"
                                 title="Số điện thoại">Số điện thoại
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="phone_form" nz-input formControlName="phone"
                                     class="ant-input input-form"
                                     type="text" value="036 307 1881">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item ant-form-item-has-success">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="birthday_form" class="ant-form-item-required"
                            title="Năm sinh">Năm sinh
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <nz-date-picker id="birthday_form" nzMode="year" formControlName="yearBirthday"
                                              class="input-form datepicker-form">
                              </nz-date-picker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="web_form" class=""
                            title="Website">Website
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="web_form" nz-input formControlName="website"
                                     class="ant-input input-form"
                                     type="text" value="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-24 px-2">
                      <div class="ant-row ant-form-item ant-form-item-has-success">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="website-form" class="ant-form-item-required"
                            title="Tiêu đề">Tiêu đề
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <input placeholder="Vui lòng nhập trường"
                                     id="website-form"
                                     class="ant-input input-form" nz-input formControlName="title"
                                     type="text" value="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="font-info">Sơ lược</div>
                  <div class="ant-row section-form summary-sectionform__Container-sc-2fnzw9-0 hLiHbf pd-8-negative">
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="position-form" class="ant-form-item-required"
                            title="Vị trí">Vị trí
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <nz-select
                                nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="position-form" class="select-form-candidate" tabindex="1"
                                nzMode="default">
                                <nz-option *ngFor="let location of locations" [nzLabel]="location.name"
                                           [nzValue]="location.id"></nz-option>
                              </nz-select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="danh-muc" class="ant-form-item-required"
                            title="Danh mục">Danh mục
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">

                            <nz-select class=""
                                       nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="danh-muc" class="select-form-candidate"
                                       nzMode="default">
                              <nz-option *ngFor="let cate of categoryJob" [nzLabel]="cate.name"
                                         [nzValue]="cate.id"></nz-option>
                            </nz-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item ant-form-item-has-success">
                        <div class="ant-col ant-form-item-label">
                          <label
                            for="time-apply"
                            class="ant-form-item-required"
                            title="Thời gian bắt đầu làm">Thời gian bắt đầu làm
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">

                              <nz-select
                                nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="time-apply" class="select-form-candidate"
                                nzMode="default">
                                <nz-option *ngFor="let time of timeToWork" [nzLabel]="time.name"
                                           [nzValue]="time.id"></nz-option>
                              </nz-select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label for="classify"
                                 class="ant-form-item-required" title="Phân loại">
                            Phân loại
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">

                              <nz-select
                                nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="classify" class="select-form-candidate"
                                nzMode="default">
                                <nz-option *ngFor="let c of classify" [nzLabel]="c.name"
                                           [nzValue]="c.id"></nz-option>
                              </nz-select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label class="" title="">
                            <span style="margin-right: 10px;">Mức lương mong muốn (Gross)</span>
                          </label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <label nz-checkbox nzValue="">Thỏa thuận</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-24 px-2">
                      <div class="ant-row pd-8-negative">
                        <div class="ant-col ant-col-12 px-2">
                          <div class="ant-row ant-form-item ant-form-item-has-success">
                            <div class="ant-col ant-form-item-control">
                              <div class="ant-form-item-control-input">
                                <div class="ant-form-item-control-input-content">
                                  <nz-input-number class="w-full input-form p-40-i" [nzMin]="0" [nzMax]="99999999999999999" [nzStep]="1"
                                                   formControlName="reward"
                                                   [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-12 px-2">
                          <div class="ant-row ant-form-item ant-form-item-has-success">
                            <div class="ant-col ant-form-item-control">
                              <div class="ant-form-item-control-input">
                                <div class="ant-form-item-control-input-content">
                                  <nz-input-number class="w-full input-form p-40-i" [nzMin]="0" [nzMax]="99999999999999999" [nzStep]="1" type="number"
                                                   formControlName="reward"
                                                   [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-sm-24 px-2">
                      <div class="ant-row ant-form-item">
                        <div class="ant-col ant-form-item-label">
                          <label for="so-luoc" class="ant-form-item-required" title="Sơ lược">Sơ lược</label>
                        </div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <textarea rows="4" nz-input id="so-luoc" class=" input-form"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

