.title-so-yeu {
  align-items: flex-end;
  padding-bottom: 10px;
}
.font-so-yeu {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
}
.font-upload-status {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(26, 169, 76);
}

.font-info {
  font-size: 16px;
  margin: 0 0 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 24px 0;
}

.pdf-position {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 16px;
}

.pdf-viewer {
  border: 2px solid rgb(209, 213, 219);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  top: 0;
  position: sticky;
}

.pdf.viewer-position {
  position: sticky;
  top: 15px;
  background: rgb(229, 231, 235);
  border: 1px solid rgb(209, 213, 219);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 500;
}

.applicant-form-text {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
}

.applicant-wrapper {
  width: 100%;
  height: 94%;
  background-image: url(/assets/candidate/background-form.svg);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 70px;
}

.applicant-info {
  font-size: 16px;
  margin: 0 0 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 24px 0;
}

.pd-8-negative {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.input-form {
  padding: 8px 17px 8px 12px;
  opacity: 0.8;
  border-radius: 4px;
  border: 2px solid rgb(200, 203, 205);
  &:active, &:hover, &:focus {
    border-color: #0084ff;
  }
}

.op-1-or-1 {
  opacity: 1;
  order: 0;
}

.datepicker-form {
  height: 42px;
  width: 100%;
}

.section-form {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 0;
  padding: 0 24px;
}
.divider {
  background-color: rgb(234, 237, 238);
  height: 1px;
  margin: 16px 0 0;
}
.ant-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.p-40-i {
  padding: 4px 0 !important;
}

.dZnhBt {
  border-radius: 8px;
  padding: 6.4px 0;
}
