<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="h-full w-full">
    <div class="ant-card w-full">
      <div class="ant-card-body">
        <div class="kttk-search-form">
          <div class="ant-card w-full border-1 border-black">
            <div style="border: 1px solid #1890ff; padding-bottom: 0 !important; padding-top: 24px"
                 class="ant-card-body flex flex-col justify-center justify-items-center content-center rounded-md">
              <form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
                <div nz-row [nzGutter]="24">
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'benefit'">Tên phúc lợi</nz-form-label>
                      <nz-form-control>
                        <input
                          id="benefit"
                          formControlName="benefit"
                          nz-input
                          placeholder="Tìm theo tên phúc lợi"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzFor]="'idImage'">Id hình ảnh</nz-form-label>
                      <nz-form-control>
                        <input
                          id="idImage"
                          formControlName="idImage"
                          nz-input
                          placeholder="Tìm theo idImage"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8" class="search-area">
                    <button class="rounded" nz-button [nzType]="'primary'" (click)="loadingUserInfo()">Tìm kiếm</button>
                    <button class="rounded" nz-button (click)="resetFormSearch()">Làm mới</button>
                    <button class="rounded" nz-button [nzType]="'primary'" (click)="toggleCollapse()">
                      Thêm
                      <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="kttk-operator mt-1 mb-1">
          <div class="nz-row">
            <button class="rounded align-middle" nz-button nzType="primary" (click)="showModal1()">
              <i nz-icon nzType="plus"></i>
              Thêm mới
            </button>
            <button class="rounded align-middle" nz-button nzType="primary" nzDanger (click)="showDeleteConfirm()"
                    [disabled]="setOfCheckedId.size == 0">
              <i nz-icon nzType="delete"></i>
              Xoá
            </button>
          </div>
        </div>
        <div class="kttk-table-list">
          <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzTotal]="totalData"
            [nzPageIndex]="pageIndex"
            [nzPageSize]="pageSize"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="changePageIndex($event)"
            (nzPageSizeChange)="changePageSize($event)"
          >
            <thead>
            <tr>
              <th
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Phúc lợi</th>
              <th>Icon</th>
              <th>Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td>{{ data.name }}</td>
              <td>{{ data.icon }}</td>
              <td>
                <button class="rounded btn-edit" nz-button [nzType]="'default'" (click)="showModal2(data)">Sửa</button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <!--    modal create-->
    <nz-modal [nzMaskClosable]="false" [nzWidth]="'65%'" [(nzVisible)]="isVisible" nzTitle="Thêm phúc lợi"
              (nzOnCancel)="handleCancel()" [nzClosable]="false">
      <div *nzModalContent>
        <form nz-form [formGroup]="formCreate" (ngSubmit)="submitForm()">
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="username">Tên phúc lợi</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập tên phúc lợi!">
                  <input  formControlName="name" type="text" nz-input
                          placeholder="Nhập tên phúc lợi"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="icon">Id Image</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập id hình ảnh!">
                  <input  formControlName="icon" type="text" nz-input
                          placeholder="Nhập id hình ảnh"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button nz-button nzType="default" nzDanger (click)="handleCancel()" [disabled]="isSaving">Huỷ</button>
        <button nz-button nzType="primary" [disabled]="!formCreate.valid" (click)="handleOk()"
                [nzLoading]="isConfirmLoading">Lưu
        </button>
      </div>
    </nz-modal>

    <!--    modal edit-->
    <nz-modal [nzMaskClosable]="false" [nzWidth]="'65%'" [(nzVisible)]="isVisibleEdit" nzTitle="Sửa thông tin trình độ"
              (nzOnCancel)="handleCancelEdit()" [nzClosable]="false">
      <div *nzModalContent>
        <form nz-form [formGroup]="formEdit" (ngSubmit)="submitForm()">
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="username">Tên phúc lợi</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập tên phúc lợi!">
                  <input  formControlName="name" type="text" nz-input
                          placeholder="Nhập tên phúc lợi"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-12 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="icon">Id Image</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập id hình ảnh!">
                  <input  formControlName="icon" type="text" nz-input
                          placeholder="Nhập id hình ảnh"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button nz-button nzType="default" nzDanger (click)="handleCancelEdit()" [disabled]="isSaving">Huỷ</button>
        <button nz-button nzType="primary" [disabled]="!formEdit.valid" (click)="handleOkEdit()"
                [nzLoading]="isConfirmLoading">Lưu
        </button>
      </div>
    </nz-modal>
  </div>
</nz-spin>
