<div class="m-container container container--full-width mt-4">
  <div class="ant-card w-full">
    <div class="p-4">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formSearchReferrals"
      >
        <div class="search-form">
          <div class="ant-row">
            <div class="ant-col" style="flex: 1 1 auto;">
              <div class="ant-row">
                <div class="ant-col ant-col-24 ant-col-md-4 padding-form">
                  <nz-form-item>
                    <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Từ khóa</nz-form-label>
                    <nz-form-control [nzSpan]="null">
                      <input type="text" nz-input
                             placeholder="Tên ứng viên, email, điện thoại"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="ant-col ant-col-24 ant-col-md-5 padding-form">
                  <nz-form-item>
                    <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Vị trí</nz-form-label>
                    <nz-form-control [nzSpan]="null">
                      <nz-select nzMode="multiple" nzPlaceHolder="Vị trí" [nzMaxTagCount]="1">
                        <nz-option
                          *ngFor="let option of locations"
                          [nzLabel]="option.name"
                          [nzValue]="option.id"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="ant-col ant-col-24 ant-col-md-5 padding-form">
                  <nz-form-item>
                    <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Thời gian
                    </nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                      <nz-range-picker [nzDateRender]="tplRender"></nz-range-picker>
                    </nz-form-control>
                    <ng-template #tplRender let-current>
                      <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
                        {{ current.getDate() }}
                      </div>
                    </ng-template>
                  </nz-form-item>
                </div>
                <div class="ant-col ant-col-24 ant-col-md-4 padding-form">
                  <nz-form-item>
                    <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Trạng thái
                    </nz-form-label>
                    <nz-form-control [nzSpan]="null">
                      <nz-select nzMode="multiple" nzPlaceHolder="Trạng thái" [nzMaxTagCount]="1">
                        <nz-option
                          *ngFor="let option of status"
                          [nzLabel]="option.name"
                          [nzValue]="option.id"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="ant-col" style="padding-left: 8px; padding-right: 8px;">
                  <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                    <div class="ant-space-item">
                      <div class="ant-row ant-form-item" style="margin-top: 30px;margin-bottom: 0;">
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <button type="submit" class="ant-btn ant-btn-primary">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                     class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span>Tìm Kiếm</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-space-item">
                      <div class="ant-row ant-form-item" style="row-gap: 0;margin-top: 30px;margin-bottom: 0;">
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <button type="button" class="ant-btn ant-btn-link btn-clear"><span>Xóa</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col">
              <div class="mode-refferals" style="row-gap: 0;margin-top: 30px;margin-bottom: 0;">
                <nz-radio-group nzButtonStyle="solid" [(ngModel)]="radioValue"  [ngModelOptions]="{standalone: true}">
                  <label nz-radio-button [nzValue]="'A'" style="border-radius: 20px 0 0 20px;">
                    <svg stroke="currentColor" fill="none"
                         stroke-width="0" viewBox="0 0 24 24"
                         class="anticon" height="1em"
                         width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
                    </svg>
                  </label>
                  <label nz-radio-button [nzValue]="'B'" style="border-radius: 0 20px 20px 0;">
                    <svg stroke="currentColor"
                         fill="currentColor" stroke-width="0"
                         viewBox="0 0 20 20" class="anticon"
                         height="1em" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        fill-rule="evenodd"
                        d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </label>
                </nz-radio-group>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="ant-card w-full mt-2">
    <div class="p-4">
      <div class="nav">
        <div id="marker"></div>
        <a #firstMenu class="active">0 Mới</a>
        <a>0 Đánh giá</a>
        <a>0 Phỏng vấn</a>
        <a>0 Offer</a>
        <a>0 Placement</a>
        <a>1 Từ chối</a>
      </div>
    </div>
  </div>
  <div class="ant-card w-full mt-2" *ngIf="radioValue == 'A'">
    <div class="p-4">
      <div class="ant-row pd-8-negative">
        <div class="ant-col ant-col-xs-24 ant-col-md-8 p-2">
          <div class="card-reffer-list">
            <div class="reffer-list-search">
              <span
                class="ant-input-group-wrapper ant-input-group-wrapper-lg ant-input-search ant-input-search-large pd-search-list"><span
                class="ant-input-wrapper ant-input-group">
                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                <input id="SideBarHead"
                       placeholder="Tìm kiếm ứng viên"
                       class="ant-input ant-input-lg"
                       type="text" value="">
                <span class="ant-input-suffix">
                <span role="button" aria-label="close-circle" tabindex="-1"
                      class="anticon anticon-close-circle ant-input-clear-icon-hidden ant-input-clear-icon">
                  <svg viewBox="64 64 896 896" focusable="false" data-icon="close-circle" width="1em" height="1em"
                       fill="currentColor" aria-hidden="true"><path
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z"></path></svg></span></span></span><span
                class="ant-input-group-addon"><button type="button"
                                                      class="ant-btn ant-btn-lg ant-btn-icon-only ant-input-search-button"><span
                role="img" aria-label="search" class="anticon anticon-search"><svg viewBox="64 64 896 896"
                                                                                   focusable="false" data-icon="search"
                                                                                   width="1em" height="1em"
                                                                                   fill="currentColor"
                                                                                   aria-hidden="true"><path
                d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"></path></svg></span></button></span></span></span>
            </div>
            <div class="ant-list ant-list-vertical ant-list-lg ant-list-split">
              <div class="ant-spin-nested-loading">
                <div class="ant-spin-container">
                  <ul class="ant-list-items">
                    <div id="referral-71200" class="ant-col pd-list-all ant-col-xs-24 px-2">
                      <div class="box-refferal">
                        <div class="pd-type-reffer">
                          <div class="status-reffer"><span
                            class="status-refuse">Recruitery Rejected</span></div>
                          <div class="ant-row ant-row-no-wrap">
                            <div class="ant-col"><span
                              class="ant-avatar ant-avatar-circle"
                              style="width: 40px; height: 40px; line-height: 40px; font-size: 18px;"><span
                              class="ant-avatar-string"
                              style="line-height: 40px; transform: scale(1) translateX(-50%);"></span></span></div>
                            <div class="ant-col" style="padding-left: 5px; padding-right: 5px;">
                              <div class="avatar-box"></div>
                            </div>
                          </div>
                        </div>
                        <div class="pd-box-cate"><a href="/vi/jobs/7662">
                          <div
                            class="ant-row ant-row-no-wrap ant-row-middle m-3-negative list-title-job">
                            <div class="ant-col" style="padding-left: 3px; padding-right: 3px;">
                              <div class="icon-share-social"><span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2722%27%20height=%2722%27/%3e"
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                srcset="https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=32 1x, https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=48 2x"
                                src="https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=48"
                                decoding="async" data-nimg="intrinsic"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"></span>
                              </div>
                            </div>
                            <div class="ant-col"
                                 style="padding-left: 3px; padding-right: 3px; flex: 1 0 0%; min-width: 0px;">
                              <div class="box-all-title">🎁 Product Manager/BA/Scrum
                                master
                              </div>
                            </div>
                          </div>
                        </a>
                          <div class="timeline-reffer">Via Recruitery - Tháng 4 5, 2022
                            16:26
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ant-row ant-row-center" style="margin: 20px 12px; padding-bottom: 20px; "></div>
          </div>
        </div>
        <div class="ant-col ant-col-xs-24 ant-col-md-16" style="padding-left: 8px; padding-right: 8px;">
          <div class="ant-card ant-card-bordered">
            <div class="ant-card-body">
              <div class="ant-row" style="row-gap: 16px;">
                <div class="ant-col ant-col-xs-24">
                  <div class="status-referral__StatusContainer-sc-ovpl8v-0 pd-box-reject">
                    <div class="ant-row ant-row-center" style="margin-left: -8px; margin-right: -8px; row-gap: 8px;">
                      <div class="ant-col ant-col-xs-24" style="padding-left: 8px; padding-right: 8px;">
                        <div class="ant-row ant-row-space-between ant-row-top"
                             style="margin-left: -6px; margin-right: -6px; margin-bottom: 16px; row-gap: 10px;">
                          <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24"
                               style="padding-left: 6px; padding-right: 6px;">
                            <div class="title-box-detail-reject"><span
                              class="chip-box-reject" style="margin: 0px;">Recruitery Rejected</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ant-col ant-col-xs-24" style="padding-left: 8px; padding-right: 8px;">
                        <div class="pre-w"
                             style="color: rgb(149, 11, 11); white-space: pre-wrap; font-weight: bold;">Lý do từ chối:
                        </div>
                        <div class="ant-typography"
                             style="color: rgb(149, 11, 11); margin-bottom: 32px; white-space: pre-wrap; padding-left: 10px;">
                          Job yêu cầu Ứng viên làm một trong 3 vị trí: Product Manager, Business Analyst, Scrum Master
                          nên tạm thời chưa phù hợp với vị trí này. Cảm ơn bạn đã giới thiệu ứng viên.
                        </div>
                      </div>
                      <div class="ant-col ant-col-xs-24 ant-col-md-24 ant-col-lg-10"
                           style="padding-left: 8px; padding-right: 8px;">
                        <button type="button"
                                class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block btn-reffer-again">
                          <span>Giới thiệu lại</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-col ant-col-xs-24">
                  <div class="box-info-candidate">
                    <div class="info-base-candidate">
                      <div class="ant-row ant-row-no-wrap" style="margin-left: -8px; margin-right: -8px; ">
                        <div class="ant-col" style="padding-left: 8px; padding-right: 8px;"><span
                          class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-icon">
                          <svg stroke="currentColor"
                               class="icon-ava-candidate"
                               fill="currentColor"
                               stroke-width="0"
                               viewBox="0 0 20 20"
                               height="1em"
                               width="1em"
                               xmlns="http://www.w3.org/2000/svg"><path
                            fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path></svg></span></div>
                        <div class="ant-col" style="padding-left: 8px; padding-right: 8px; width: 100%;">
                          <div class="ant-row ant-row-space-between" style="">
                            <div class="ant-col ant-col-xs-24 ant-col-lg-18">
                              <div class="title-upper-candidate"></div>
                              <div class="info-reffer-box"><span
                                class="info-reffer"> | Giới thiệu: 71200, Ứng viên: 71832</span>
                              </div>
                            </div>
                            <div class="ant-col btn-action-info-candidate ant-col-xs-24 ant-col-lg-6"
                                 style="align-items: flex-end;">
                              <button type="button" class="ant-btn pd-btn-action-candidate">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                     height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                  <path fill-rule="evenodd"
                                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span>Chỉnh sửa ứng viên</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ant-row" style="">
                        <div class="ant-col ant-col-24">
                          <div class="info-base-candidate-detail">
                            <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" class="anticon"
                                 height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                            <span class="ant-typography ant-typography-secondary"><i>Không có sẵn</i></span></div>
                          <div class="ant-row ant-row-space-between" style="">
                            <div class="ant-col ant-col-xs-24 ant-col-lg-16">
                              <div class="info-base-candidate-detail">
                                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                     class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                </svg>
                                manhvu197999@gmail.com
                              </div>
                              <div class="info-base-candidate-detail">
                                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                     class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                                </svg>
                                0345489868
                              </div>
                              <div class="info-base-candidate-detail">
                                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                     class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
                                </svg>
                                <span class="ant-typography ant-typography-secondary"><i>Không có sẵn</i></span></div>
                            </div>
                            <div class="ant-col ant-col-xs-24 ant-col-lg-8">
                              <div class="box-candidate-end"><span
                                class="ant-typography ant-typography-secondary"><div
                                class="info-base-candidate-detail">Hoạt động lần cuối: 6 tháng trước</div></span><span
                                class="ant-typography ant-typography-secondary"><div
                                class="info-base-candidate-detail">Cập nhật cuối cùng: Tháng 4 5, 2022 16:26</div></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pd-position-job-cadidate">
                      <div class="ant-row ant-row-middle" style="margin-left: -8px; margin-right: -8px; ">
                        <div class="ant-col" style="padding-left: 8px; padding-right: 8px;"><a href="/vi/jobs/7662">
                          <div
                            class="ant-row ant-row-no-wrap ant-row-middle box-list-position"
                            style="margin-left: -3px; margin-right: -3px; ">
                            <div class="ant-col" style="padding-left: 3px; padding-right: 3px;">
                              <div class="is-recriter"><span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2722%27%20height=%2722%27/%3e"
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                srcset="https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=32 1x, https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=48 2x"
                                src="https://static.recruitery.co/uploads/images/c20a9c41e09646dd916de6aa4b5e017c_20210824105600.png?auto=format&amp;fit=max&amp;w=48"
                                decoding="async" data-nimg="intrinsic"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;"></span>
                              </div>
                            </div>
                            <div class="ant-col"
                                 style="padding-left: 3px; padding-right: 3px; flex: 1 0 0%; min-width: 0px;">
                              <div class="txt-list-job">🎁 Product Manager/BA/Scrum
                                master
                              </div>
                            </div>
                          </div>
                        </a></div>
                        <div class="ant-col ant-col-xs-24 ant-col-lg-4" style="padding-left: 8px; padding-right: 8px;">
                          <button type="button"
                                  class="ant-btn ant-btn-link mess-with-company">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                 class="anticon" height="22" width="22" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                    d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Nhắn tin với công ty</span></button>
                        </div>
                        <div class="ant-col ant-col-lg-24" style="padding-left: 8px; padding-right: 8px;">
                          <div class="text-datetime-reffer">Via Recruitery - Tháng 4 5, 2022
                            16:26
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-col ant-col-xs-24">
                  <div class="box-info-job">
                    <div class="ant-row summary-job" style="">
                      <div class="ant-col ant-col-xs-order-1 ant-col-md-order-0" style="margin-bottom: 16px;">
                        <div class="text-sum-title">Sơ lược</div>
                        <div class="content-sum-title"><span
                          class="ant-typography ant-typography-secondary"><i>Không có sẵn</i></span></div>
                      </div>
                      <div class="ant-col ant-col-xs-order-0 ant-col-md-order-1">
                        <div class="">
                          <button type="button" class="ant-btn btn-job-info">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                 class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                              <path fill-rule="evenodd"
                                    d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Chỉnh sửa</span></button>
                        </div>
                      </div>
                    </div>
                    <div class="ant-row" style="margin-bottom: 16px; row-gap: 16px;">
                      <div class="ant-col ant-col-xs-24 ant-col-lg-12" style="">
                        <div class="text-sub-info-job">Danh mục</div>
                        <div class="content-sub-info-job">Product, Business Analyst,
                          Product Manager, Scrum Master
                        </div>
                      </div>
                      <div class="ant-col ant-col-xs-24 ant-col-lg-12" style="">
                        <div class="text-sub-info-job">Mức lương</div>
                        <div class="content-sub-info-job">Negotiable</div>
                      </div>
                    </div>
                    <div class="ant-row" style="margin-bottom: 16px; row-gap: 16px;">
                      <div class="ant-col ant-col-xs-24 ant-col-lg-12" style="">
                        <div class="text-sub-info-job">Vị trí</div>
                        <div class="content-sub-info-job">Remote, Da Nang, Hanoi, Ho Chi
                          Minh, Binh Duong, Thua Thien Hue
                        </div>
                      </div>
                      <div class="ant-col ant-col-xs-24 ant-col-lg-12" style="">
                        <div class="text-sub-info-job">Khả dụng</div>
                        <div class="content-sub-info-job"><span
                          class="ant-typography ant-typography-secondary"><i>Không có sẵn</i></span></div>
                      </div>
                    </div>
                    <div class="ant-row" style="row-gap: 16px;">
                      <div class="ant-col ant-col-xs-24" style="">
                        <div class="text-sub-info-job">Phân loại</div>
                        <div class="content-sub-info-job"><span
                          class="ant-typography ant-typography-secondary"><i>Không có sẵn</i></span></div>
                      </div>
                      <div class="ant-col ant-col-xs-24" style="">
                        <div class="text-sub-info-job">Ghi chú nội bộ (Chỉ hiển thị với
                          bạn)
                        </div>
                        <textarea placeholder="Ghi chú"
                                  class="ant-input form-style__CustomTextAreaAntNoneCount-sc-ww5zoi-8 juIAoG"
                                  style="height: 84px; min-height: 84px; max-height: 128px; overflow-y: hidden; resize: none;"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-col ant-col-xs-24">
                  <div class="pd-box-cv">
                    <div class="ant-row ant-row-space-between ant-row-middle"
                         style="margin-bottom: 16px; ">
                      <div class="ant-col"><span class="ant-typography"><strong>Sơ yếu lý lịch</strong></span></div>
                      <div class="ant-col">
                        <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                          <div class="ant-space-item" style="">
                            <button type="button" class="ant-btn ant-btn-primary ant-btn-background-ghost">
                              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                              </svg>
                              <span>Tải CV</span></button>
                          </div>
                          <div class="ant-space-item">
                            <button type="button" class="ant-btn ant-btn-primary">
                              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                <path fill-rule="evenodd"
                                      d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                      clip-rule="evenodd"></path>
                              </svg>
                              <span>Xem</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-pdf-container">
                      <!--<div class="candidate-cv__CvButtonAction-sc-dssq8k-3 gdCPcZ">
                        <div class="candidate-cv__BoxIcon-sc-dssq8k-4 vCGNJ">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                               class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                            <path fill-rule="evenodd"
                                  d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                  clip-rule="evenodd"></path>
                          </svg>
                        </div>
                        <div class="candidate-cv__BoxIcon-sc-dssq8k-4 vCGNJ">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                               class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                          </svg>
                        </div>
                      </div>-->
                      <div class="pdf-box">
                        <div class="pdf-viewer">
                          <pdf-viewer
                            [src]="'https://bvofficeuat.baoviet.com.vn/api/tasks/group/getPdf?photo_path=/data/OfficeFile/file-path/2022/9/2/1662134063_178352.pdf'"
                            [rotation]="0"
                            [original-size]="false"
                            [show-all]="true"
                            [fit-to-page]="false"
                            [zoom]="1"
                            [zoom-scale]="'page-width'"
                            [stick-to-page]="false"
                            [render-text]="true"
                            [external-link-target]="'blank'"
                            [autoresize]="true"
                            [show-borders]="false"
                            style="width: 100%; height: 900px;"
                          ></pdf-viewer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-col ant-col-xs-24">
                  <ul class="ant-timeline">
                    <div class="" style="margin-bottom: 16px;">
                      <div class="referral-timeline__Title-sc-p2iaju-0 hVTnXa">Lịch sử</div>
                    </div>
                    <nz-timeline>
                      <nz-timeline-item nzColor="green">
                        <div class="box-timeline">
                          <div class="ant-space ant-space-vertical w-full"
                               style="gap: 0px;">
                            <div class="ant-space-item" style="">
                              <div class="timeline-status-title">
                                <div class="">Recruitery Reject
                                </div>
                                <div class="timeline-timmer">
                                  <div class="timeline-text-timmer">05-04-2022 16:26
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-space-item" style="">
                              <div class="timeline-content"><span>kos moved   from Waiting Candidate Confirm to <span>Recruitery Reject</span></span><br>
                              </div>
                            </div>
                            <div class="ant-space-item">
                              <div><p class="referral-timeline__StyledTextWrap-sc-p2iaju-6 ftuxEq">Job yêu cầu Ứng viên
                                làm một trong 3 vị trí: Product Manager, Business Analyst, Scrum Master nên tạm thời
                                chưa phù hợp với vị trí này. Cảm ơn bạn đã giới thiệu ứng viên.</p></div>
                            </div>
                          </div>
                        </div>
                      </nz-timeline-item>
                      <nz-timeline-item nzColor="green">
                        <div class="box-timeline">
                          <div class="ant-space ant-space-vertical w-full"
                               style="gap: 0px;">
                            <div class="ant-space-item" style="">
                              <div class="timeline-status-title">
                                <div class="">Waiting Candidate
                                  Confirm
                                </div>
                                <div class="timeline-timmer">
                                  <div class="timeline-text-timmer">17-03-2022 23:42
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-space-item" style="">
                              <div class="timeline-content"><span>None moved   from Pending to <span>Waiting Candidate Confirm</span></span><br>
                              </div>
                            </div>
                            <div class="ant-space-item">
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </nz-timeline-item>
                      <nz-timeline-item nzColor="green">
                        <div class="box-timeline">
                          <div class="ant-space ant-space-vertical w-full"
                               style="gap: 0px;">
                            <div class="ant-space-item" style="">
                              <div class="timeline-status-title">
                                <div class="">Pending</div>
                                <div class="timeline-timmer">
                                  <div class="timeline-text-timmer">17-03-2022 23:42
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-space-item" style="">
                              <div class="timeline-content"><span>Nguyễn Trung Triệu create referral</span><br>
                              </div>
                            </div>
                            <div class="ant-space-item">
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </nz-timeline-item>
                    </nz-timeline>
                  </ul>
                </div>
                <div class="ant-col ant-col-xs-24">
                  <div id="chat-box-view" class="ant-card ant-card-bordered"
                       style="border-radius: 4px; border: 1px solid rgb(200, 203, 205);">
                    <div class="ant-card-body" style="padding: 16px;"><span class="ant-typography"><strong>Nhắn tin với công ty</strong></span>
                      <div class="ant-comment">
                        <div class="ant-comment-inner">
                          <div class="ant-comment-avatar"><span
                            class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-image ant-avatar-icon"><img
                            src="https://static.recruitery.co//uploads/images/ffd004259a6449a08c193d5f636a5072_20220224044100.JPG"
                            alt="Han Solo"></span></div>
                          <div class="ant-comment-content">
                            <div class="ant-comment-content-detail">
                              <form class="ant-form ant-form-horizontal">
                                <div class="ant-row ant-form-item" style="">
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><textarea
                                        placeholder="Nhắn tin với công ty" id="message"
                                        class="ant-input form-style__CustomTextAreaAntNoneCount-sc-ww5zoi-8 juIAoG"
                                        style="height: 84px; min-height: 84px; max-height: 84px; overflow-y: hidden; resize: none;"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ant-row ant-row-end" style="">
                                  <div class="ant-row ant-form-item" style="">
                                    <div class="ant-col ant-form-item-control">
                                      <div class="ant-form-item-control-input">
                                        <div class="ant-form-item-control-input-content">
                                          <button type="submit" class="ant-btn ant-btn-primary" disabled="">
                                            <span>Gửi</span></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="ant-card w-full mt-2" *ngIf="radioValue == 'B'">
    <div class="p-4">
      <div class="ant-row pd-8-negative">
        <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
          <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.job }}</td>
            <td>{{ data.candidateName }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.dateProcessing }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
