.container--full-width {
  max-width: 100vw;
  padding: 0 90px;
}

.container {
  background-color: #f7f7f7;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.padding-form:first-child {
  padding-left: 8px;
}
.padding-form:last-child {
  padding-right: 8px;
}
.padding-form:not(:first-child):not(:last-child) {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-clear {
  color: #1890ff;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
.mode-refferals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #1890ff;
  border-color: #1890ff;
  background: #fff;

}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #1890ff;
  background: #fff;
  border-color: #1890ff;
}

.nav {
  position: relative;
  display: flex;
}

.nav a {
  position: relative;
  font-size: 14px;
  color: #000;
  line-height: 1.5715;
  flex: 1;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  display: flex;
}
.nav a:not(:last-child) {
  border-right: 1px solid #eee;
}
.nav a.active {
  color: #1890ff;

}

.nav #marker {
  position: absolute;
  height: 2px;
  width: calc(16.66% - 24px);
  background: #1890ff;
  bottom: -8px;
  transition: .5s;
  left: 12px;
}

.pd-8-negative {
  margin-left: -8px;
  margin-right: -8px;
}

.m-5-negative {
  margin-left: -5px;
  margin-right: -5px;
}

.m-3-negative {
  margin-left: -3px;
  margin-right: -3px;
}

.m-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.p-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.card-reffer-list {
  background: rgb(255, 255, 255);
}
.reffer-list-search {
  border-bottom: 1px solid #e5e7eb;
}
@media (min-width: 768px) {
  .reffer-list-search {
    padding: 18px 18px 0;
  }
}
.pd-search-list {
  background: rgb(244, 246, 246);
  margin-bottom: 16px;
}
.pd-list-all {
  margin: 15px 0px;
}
@media (min-width: 992px) {
  .pd-list-all {
    margin: 15px 5px;
  }
}
.box-refferal {
  padding: 16px 1px 16px 0px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(26, 169, 76, 0.2);
  background: rgb(226, 255, 239);
}
.pd-type-reffer {
  padding: 16px 16px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.status-reffer {
  /*padding: 16px 1px 16px 0px;*/
  border-radius: 4px;
  cursor: pointer;
  /*border: 1px solid rgba(26, 169, 76, 0.2);*/
  background: rgb(226, 255, 239);
}
.status-refuse {
  padding: 6px 12px;
  border-radius: 15px;
  background-color: rgb(251, 48, 48);
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.avatar-box {
  font-weight: bold;
  line-height: 1.5;
  word-break: break-word;
  padding-right: 10px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.pd-box-cate {
  padding: 16px 16px 0;
}
.list-title-job {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  border: 2px solid rgb(200, 203, 205);
  margin-bottom: 2px;
}
.icon-share-social {
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
}
.box-all-title {
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.timeline-reffer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.pd-box-reject {
  background: rgb(254, 227, 213);
  padding: 24px;
}
.title-box-detail-reject {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
}

.chip-box-reject {
  padding: 6px 12px;
  border-radius: 15px;
  background-color: rgb(251, 48, 48);
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pre-w {
  white-space: pre-wrap;
}
.btn-reffer-again {
  border-radius: 8px;
  min-height: 50px;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
  border-width: 2px;
  white-space: pre-wrap;
}
.box-info-candidate {
  border-radius: 4px;
  border: 1px solid rgb(200, 203, 205);
}
.info-base-candidate {
  padding: 16px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.title-upper-candidate {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  word-break: break-word;
  padding-right: 10px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.info-reffer-box {
  font-size: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
}
.info-reffer {
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
@media (min-width: 992px) {
  .info-reffer {
    max-width: 100%;
  }
}
.btn-action-info-candidate {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}
.pd-btn-action-candidate {
  border-radius: 4px;
  border: 2px solid rgb(91, 236, 197);
  color: rgb(13, 118, 130);
  display: flex;
  flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
  align-items: center;
}
.info-base-candidate-detail {
  font-size: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
}
.box-candidate-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon-ava-candidate {
  margin-top: 6px;
  margin-left: 6px;
}
.pd-position-job-cadidate {
  padding: 12px;
}
@media (min-width: 992px) {
  .pd-position-job-cadidate {
    padding: 16px;
  }
}
.box-list-position {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  border: 2px solid rgb(200, 203, 205);
  margin-bottom: 2px;
}
.is-recriter {
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
}
.txt-list-job {
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 5px;
}
.mess-with-company {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 0px;
}
@media (min-width: 992px) {
  .mess-with-company {
    padding-left: 15px;
  }
}
.ant-btn>.anticon+span, .ant-btn>span+.anticon {
  margin-left: 8px;
}
.mess-with-company span {
 text-decoration: underline;
}
.ant-btn>span {
  display: inline-block;
}
.text-datetime-reffer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.box-info-job {
  border-radius: 4px;
  border: 1px solid rgb(200, 203, 205);
  padding: 16px;
}
.summary-job {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .summary-job {
    flex-direction: row;
    align-items: flex-start;
  }
}
.text-sum-title {
  font-weight: bold;
  line-height: 1.5;
}
.content-sum-title {
  font-size: 12px;
  font-weight: normal;
  word-break: break-word;
  white-space: pre-wrap;
}
.btn-job-info {
  border-radius: 4px;
  border: 2px solid rgb(91, 236, 197);
  color: rgb(13, 118, 130);
}
.text-sub-info-job {
  font-weight: bold;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.content-sub-info-job {
  font-size: 12px;
  font-weight: bold;
  word-break: break-word;
  white-space: pre-wrap;
}
.pd-box-cv {
  padding: 16px;
  border: 2px solid rgb(209, 213, 219);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  top: 80px;
  position: sticky;
}
.box-timeline {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timeline-status-title {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.timeline-timmer {
  display: flex;
  text-align: right;
}
.timeline-text-timmer {
  white-space: nowrap;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: auto;
}
.timeline-content {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}
