<div class="ant-col ant-col-xs-24 px-2">
  <div class="ant-row pdf-position">
    <div class="ant-col ant-col-xs-24 ant-col-xs-order-0 ant-col-lg-12 ant-col-lg-order-0 px-2">
      <div class="ant-row title-so-yeu">
        <div class="font-so-yeu">Sơ yếu lý lịch</div>&nbsp;<div
        class="font-upload-status">Tải lên thành công
      </div>
      </div>

      <pdf-viewer
        [src]="'https://bvofficeuat.baoviet.com.vn/api/tasks/group/getPdf?photo_path=/data/OfficeFile/file-path/2022/9/2/1662134063_178352.pdf'"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        style="width: 100%; height: 700px;"
      ></pdf-viewer>

    </div>
    <div class="ant-col ant-col-order-1 ant-col-xs-24 ant-col-xs-order-1 ant-col-lg-12 ant-col-lg-order-1 px-2"
         *ngIf="mode == 'edit'">
      <div class="applicant-form-text pb-3">Hồ sơ</div>
      <div class="form-candidate applicant-wrapper">
        <form class="ant-form ant-form-vertical" nz-form
              [nzLayout]="'vertical'" [formGroup]="formCandidate">
          <div class="font-info">Thông tin liên lạc</div>
          <div class="ant-row pd-8-negative section-form">
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="name_candidate" class="ant-form-item-required" title="Tên">Tên</label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="name_candidate" nz-input formControlName="lastName"
                             class="ant-input input-form"
                             type="text" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="first_name_form" class="ant-form-item-required"
                    title="Họ">Họ
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="first_name_form" nz-input formControlName="firstName"
                             class="ant-input input-form"
                             type="text" value=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item ant-form-item-has-success">
                <div class="ant-col ant-form-item-label">
                  <label for="email_form"
                         class="ant-form-item-required"
                         title="Email">Email</label></div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="email_form" nz-input formControlName="email"
                             class="ant-input input-form"
                             type="text" value="hnt2106@gmail.com">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item ant-form-item-has-success">
                <div class="ant-col ant-form-item-label">

                  <label for="phone_form"
                         class="ant-form-item-required"
                         title="Số điện thoại">Số điện thoại
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="phone_form" nz-input formControlName="phone"
                             class="ant-input input-form"
                             type="text" value="036 307 1881">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item ant-form-item-has-success">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="birthday_form" class="ant-form-item-required"
                    title="Năm sinh">Năm sinh
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <nz-date-picker id="birthday_form" nzMode="year" formControlName="yearBirthday"
                                      class="input-form datepicker-form">
                      </nz-date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="web_form" class=""
                    title="Website">Website
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="web_form" nz-input formControlName="website"
                             class="ant-input input-form"
                             type="text" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-24 px-2">
              <div class="ant-row ant-form-item ant-form-item-has-success">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="website-form" class="ant-form-item-required"
                    title="Tiêu đề">Tiêu đề
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <input placeholder="Vui lòng nhập trường"
                             id="website-form"
                             class="ant-input input-form" nz-input formControlName="title"
                             type="text" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="font-info">Sơ lược</div>
          <div class="ant-row section-form summary-sectionform__Container-sc-2fnzw9-0 hLiHbf pd-8-negative">
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="position-form" class="ant-form-item-required"
                    title="Vị trí">Vị trí
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <nz-select
                        nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="position-form"
                        class="select-form-candidate" tabindex="1"
                        nzMode="default">
                        <nz-option *ngFor="let location of locations" [nzLabel]="location.name"
                                   [nzValue]="location.id"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="danh-muc" class="ant-form-item-required"
                    title="Danh mục">Danh mục
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">

                    <nz-select class=""
                               nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="danh-muc"
                               class="select-form-candidate"
                               nzMode="default">
                      <nz-option *ngFor="let cate of categoryJob" [nzLabel]="cate.name"
                                 [nzValue]="cate.id"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item ant-form-item-has-success">
                <div class="ant-col ant-form-item-label">
                  <label
                    for="time-apply"
                    class="ant-form-item-required"
                    title="Thời gian bắt đầu làm">Thời gian bắt đầu làm
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">

                      <nz-select
                        nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="time-apply"
                        class="select-form-candidate"
                        nzMode="default">
                        <nz-option *ngFor="let time of timeToWork" [nzLabel]="time.name"
                                   [nzValue]="time.id"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label for="classify"
                         class="ant-form-item-required" title="Phân loại">
                    Phân loại
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">

                      <nz-select
                        nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize" id="classify"
                        class="select-form-candidate"
                        nzMode="default">
                        <nz-option *ngFor="let c of classify" [nzLabel]="c.name"
                                   [nzValue]="c.id"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-12 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label class="" title="">
                    <span style="margin-right: 10px;">Mức lương mong muốn (Gross)</span>
                  </label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <label nz-checkbox nzValue="">Thỏa thuận</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-24 px-2">
              <div class="ant-row pd-8-negative">
                <div class="ant-col ant-col-12 px-2">
                  <div class="ant-row ant-form-item ant-form-item-has-success">
                    <div class="ant-col ant-form-item-control">
                      <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                          <nz-input-number class="w-full input-form p-40-i" [nzMin]="0" [nzMax]="99999999999999999"
                                           [nzStep]="1"
                                           formControlName="reward"
                                           [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-col ant-col-12 px-2">
                  <div class="ant-row ant-form-item ant-form-item-has-success">
                    <div class="ant-col ant-form-item-control">
                      <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                          <nz-input-number class="w-full input-form p-40-i" [nzMin]="0" [nzMax]="99999999999999999"
                                           [nzStep]="1" type="number"
                                           formControlName="reward"
                                           [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-sm-24 px-2">
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-label">
                  <label for="so-luoc" class="ant-form-item-required" title="Sơ lược">Sơ lược</label>
                </div>
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content">
                      <textarea rows="4" nz-input id="so-luoc" class=" input-form"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="ant-col ant-col-xs-24 ant-col-xs-order-1 ant-col-lg-12 ant-col-lg-order-1 px-2">
      <form id="edit_candidate_popup" class="ant-form ant-form-vertical">
        <div class="ant-row" style="row-gap: 16px;">
          <div class="ant-col ant-col-xs-24">
            <div class="ant-card goomVy">
              <div class="ant-card-body">
                <div>
                  <div class="ant-row mb-2">
                    <div class="ant-col ant-col-xs-6 ant-col-xs-order-1 ant-col-lg-3 ant-col-lg-order-1"><span
                      class="ant-avatar ant-avatar-circle ant-avatar-icon"
                      style="width: 44px; height: 44px; line-height: 44px; font-size: 22px;">
                      <span role="img"
                            aria-label="user"
                            class="anticon anticon-user"><svg
                        viewBox="64 64 896 896" focusable="false" data-icon="user" width="1em" height="1em"
                        fill="currentColor" aria-hidden="true"><path
                        d="M858.5 763.6a374 374 0 00-80.6-119.5 375.63 375.63 0 00-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 00-80.6 119.5A371.7 371.7 0 00136 901.8a8 8 0 008 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 008-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"></path></svg></span></span>
                    </div>
                    <div class="ant-col ant-col-xs-24 ant-col-xs-order-3 ant-col-lg-17 ant-col-lg-order-2"
                         style="margin-top: 0;">
                      <div class="ant-row ant-row-middle"><h5
                        class="ant-typography ant-typography-ellipsis ant-typography-single-line ant-typography-ellipsis-single-line"
                        style="margin: 0; font-size: 14px;"></h5></div>
                      <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 4px;">
                        <div class="ant-space-item" style=""><h1
                          class="ant-typography candidate-contact__TitleThreeDots-sc-tdsjab-4 cOyiPw"></h1></div>
                        <span class="ant-space-item-split" style=""><span class="ant-typography">|</span></span>
                        <div class="ant-space-item"><span
                          class="ant-typography candidate-contact__TitleNoBreak-sc-tdsjab-5 kDKrXt">Ứng viên ID: 71832</span>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-18 ant-col-xs-order-2 ant-col-lg-4 ant-col-lg-order-3"
                         style="display: flex; flex-direction: column; align-items: flex-end;">
                      <button type="button" class="ant-btn candidate-contact__ButtonEdit-sc-tdsjab-2 fRxvRy">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                             class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                          <path fill-rule="evenodd"
                                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Chỉnh sửa</span></button>
                    </div>
                  </div>
                  <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 8px;">
                    <div class="ant-col ant-col-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row" style="row-gap: 2px;">
                        <div class="ant-col ant-col-24" style="">
                          <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                            <div class="ant-space-item" style="">
                              <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                              </svg>
                            </div>
                            <div class="ant-space-item"><span class="ant-typography">Invalid date</span></div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-24" style="">
                          <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                            <div class="ant-space-item" style="">
                              <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                              </svg>
                            </div>
                            <div class="ant-space-item"><span class="ant-typography">manhvu197999@gmail.com</span></div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-24" style="">
                          <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                            <div class="ant-space-item" style="">
                              <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                              </svg>
                            </div>
                            <div class="ant-space-item"><span class="ant-typography">0345489868</span></div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-24" style="">
                          <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                            <div class="ant-space-item" style="">
                              <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                   class="anticon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
                              </svg>
                            </div>
                            <div class="ant-space-item">
                              <blockquote class="text-render__Blockquote-sc-qwnk6f-0 eQtgDG">Không có dữ liệu
                              </blockquote>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-24 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row candidate-contact__TimeRow-sc-tdsjab-3 lmRYWW" style="row-gap: 0px;">
                        <div class="ant-col ant-col-24"><span class="ant-typography ant-typography-secondary">Hoạt động lần cuối: 4 tháng trước</span>
                        </div>
                        <div class="ant-col ant-col-24"><span class="ant-typography ant-typography-secondary">Cập nhật cuối cùng: Tháng 5 23, 2022 21:54</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-divider ant-divider-horizontal" role="separator"
                     style="margin: 16px 0px; border-color: rgb(234, 237, 238);"></div>
                <div class="candidate-summary__WrapperEdit-sc-10ww6sh-3 ggeSII">
                  <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                    <div class="ant-col ant-col-xs-12 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row ant-form-item candidate-summary__ViewItem-sc-10ww6sh-0 bDEaNY"
                           style="row-gap: 0px;">
                        <div class="ant-col ant-form-item-label"><label class="" title="">
                          <div class="candidate-summary__LabelForm-sc-10ww6sh-2 fCbNti">Danh mục</div>
                        </label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content"><span class="ant-typography"><strong>Product, Business Analyst, Product Manager, Scrum Master</strong></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-12 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row ant-form-item candidate-summary__ViewItem-sc-10ww6sh-0 bDEaNY"
                           style="row-gap: 0px;">
                        <div class="ant-col ant-form-item-label"><label class="" title="">
                          <div class="candidate-summary__LabelForm-sc-10ww6sh-2 fCbNti">Mức lương</div>
                        </label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content"><span class="ant-typography"><strong>Thỏa thuận</strong></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-12 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row ant-form-item candidate-summary__ViewItem-sc-10ww6sh-0 bDEaNY"
                           style="row-gap: 0px;">
                        <div class="ant-col ant-form-item-label"><label class="" title="">
                          <div class="candidate-summary__LabelForm-sc-10ww6sh-2 fCbNti">Vị trí</div>
                        </label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <blockquote class="text-render__Blockquote-sc-qwnk6f-0 eQtgDG">Không có dữ liệu
                              </blockquote>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-12 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row ant-form-item candidate-summary__ViewItem-sc-10ww6sh-0 bDEaNY"
                           style="row-gap: 0px;">
                        <div class="ant-col ant-form-item-label"><label class="" title="">
                          <div class="candidate-summary__LabelForm-sc-10ww6sh-2 fCbNti">Phân loại</div>
                        </label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content"><span
                              class="ant-typography"><strong>Non-IT</strong></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-col ant-col-xs-12 ant-col-lg-12" style="padding-left: 8px; padding-right: 8px;">
                      <div class="ant-row ant-form-item candidate-summary__ViewItem-sc-10ww6sh-0 bDEaNY"
                           style="row-gap: 0px;">
                        <div class="ant-col ant-form-item-label"><label class="" title="">
                          <div class="candidate-summary__LabelForm-sc-10ww6sh-2 fCbNti">Khả dụng</div>
                        </label></div>
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <blockquote class="text-render__Blockquote-sc-qwnk6f-0 eQtgDG">Không có dữ liệu
                              </blockquote>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ant-col ant-col-xs-24">
            <div class="ant-card ant-card-bordered candidate-editor__CardStyle-sc-6t9drj-3 goomVy">
              <div class="ant-card-body">
                <div
                  class="ant-collapse ant-collapse-icon-position-right ant-collapse-ghost candidate-logs__TimeLineCollapse-sc-tuec80-0 cVxbcw">
                  <div class="ant-collapse-item ant-collapse-item-active">
                    <nz-collapse nzGhost [nzExpandIconPosition]="'right'">
                      <nz-collapse-panel
                        [nzHeader]="'Lịch sử hoạt động'"
                        [nzActive]="true"
                      >
                        <nz-timeline>
                          <nz-timeline-item [nzDot]="dotTemplate2">
                            <div class="ant-row ant-row-space-between"
                                 style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                              <div class="ant-col" style="padding-left: 8px; padding-right: 8px; flex: 1 0 0%;">
                                <div class="candidate-logs__TitleRow-sc-tuec80-1 kaHdnb">
                                  <div>Update Candidate</div>
                                </div>
                                <span class="ant-typography ant-typography-secondary">Nguyễn Trung Triệu updated candidate</span>
                              </div>
                              <div class="ant-col ant-col-xs-24 ant-col-lg-6"
                                   style="padding-left: 8px; padding-right: 8px;"><small><span
                                class="ant-typography ant-typography-secondary candidate-logs__DateElement-sc-tuec80-2 kKBezc">Tháng 5 23, 2022 21:54</span></small>
                              </div>
                            </div>
                          </nz-timeline-item>
                          <nz-timeline-item [nzDot]="dotTemplate">
                            <div class="ant-row ant-row-space-between"
                                 style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                              <div class="ant-col" style="padding-left: 8px; padding-right: 8px; flex: 1 0 0%;">
                                <div class="candidate-logs__TitleRow-sc-tuec80-1 kaHdnb">
                                  <div>Created candidate</div>
                                </div>
                                <span class="ant-typography ant-typography-secondary">Nguyễn Trung Triệu created candidate</span>
                              </div>
                              <div class="ant-col ant-col-xs-24 ant-col-lg-6"
                                   style="padding-left: 8px; padding-right: 8px;"><small><span
                                class="ant-typography ant-typography-secondary candidate-logs__DateElement-sc-tuec80-2 kKBezc">Tháng 3 17, 2022 23:42</span></small>
                              </div>
                            </div>
                          </nz-timeline-item>
                        </nz-timeline>
                        <ng-template #dotTemplate>
                          <i nz-icon nzType="clock-circle"></i>
                        </ng-template>

                        <ng-template #dotTemplate2>
                          <i nz-icon nzType="form"></i>
                        </ng-template>
                      </nz-collapse-panel>
                    </nz-collapse>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
