.title-so-yeu {
  align-items: flex-end;
  padding-bottom: 10px;
}
.font-so-yeu {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
}
.font-upload-status {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(26, 169, 76);
}

.font-info {
  font-size: 16px;
  margin: 0 0 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 24px 0;
}

.pdf-position {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 16px;
}

.pdf-viewer {
  border: 2px solid rgb(209, 213, 219);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  top: 0;
  position: sticky;
}

.pdf.viewer-position {
  position: sticky;
  top: 15px;
  background: rgb(229, 231, 235);
  border: 1px solid rgb(209, 213, 219);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 500px;
}

.applicant-form-text {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
}

.applicant-wrapper {
  width: 100%;
  height: 94%;
  background-image: url(/assets/candidate/background-form.svg);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 70px;
}

.applicant-info {
  font-size: 16px;
  margin: 0 0 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 24px 0;
}

.pd-8-negative {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.input-form {
  padding: 8px 17px 8px 12px;
  opacity: 0.8;
  border-radius: 4px;
  border: 2px solid rgb(200, 203, 205);
  &:active, &:hover, &:focus {
    border-color: #0084ff;
  }
}

.op-1-or-1 {
  opacity: 1;
  order: 0;
}

.datepicker-form {
  height: 42px;
  width: 100%;
}

.section-form {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 0;
  padding: 0 24px;
}
.divider {
  background-color: rgb(234, 237, 238);
  height: 1px;
  margin: 16px 0 0;
}
.ant-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.p-40-i {
  padding: 4px 0 !important;
}

.dZnhBt {
  border-radius: 8px;
  padding: 6.4px 0;
}
.goomVy {
  border: 2px solid rgb(209, 213, 219);
  border-radius: 5px;
}

.ant-typography h1, h1.ant-typography {
  margin-bottom: 0.5em;
  color: rgba(0,0,0,.85);
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}
.cOyiPw {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100px;
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 0px !important;
}
@media (min-width: 992px) {
  .cOyiPw {
    width: 150px;
  }
}
.kDKrXt {
  white-space: nowrap;
  margin-right: 10px;
}
.fRxvRy {
  border-radius: 4px;
  border: 2px solid rgb(91, 236, 197);
  color: rgb(13, 118, 130);
  margin-top: -15px;
  margin-right: -10px;
}
.lmRYWW {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {

  .lmRYWW {
    align-items: flex-end;
  }
}
.fCbNti {
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.4);
}
.eQtgDG {
  opacity: 0.7;
  padding-left: 0.5em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.45);
  border-left: 3px solid rgb(240, 240, 240);
  margin-bottom: 0px;
}
