<div class="container-form">
  <nz-tabset nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Company-Profile' }" queryParamsHandling="merge">
        Công ty
      </a>
      <app-company-headhunt-setting></app-company-headhunt-setting>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Application' }" queryParamsHandling="merge">
        Hồ sơ
      </a>
      <app-application-headhunt-setting></app-application-headhunt-setting>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Member' }" queryParamsHandling="merge">
        Thành viên
      </a>
      <app-member-headhunt-setting></app-member-headhunt-setting>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Identity' }" queryParamsHandling="merge">
        Xác minh thanh toán
      </a>
      <app-headhunt-identity-setting></app-headhunt-identity-setting>
    </nz-tab>
  </nz-tabset>
</div>
