.ant-card-actions>li {
  text-align: left;
}
.ant-upload.ant-upload-select-picture-card {
  width: 104px;
  height: 104px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .3s;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 104px;
  height: 104px;
}
