<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="h-full w-full">
    <div class="ant-card w-full">
      <div class="ant-card-body">
        <div class="kttk-search-form">
          <div class="ant-card w-full border-1 border-black">
            <div style="border: 1px solid #1890ff; padding-bottom: 0 !important; padding-top: 24px"
                 class="ant-card-body flex flex-col justify-center justify-items-center content-center rounded-md">
              <form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
                <div nz-row [nzGutter]="24">
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'companyId'">Chọn công ty</nz-form-label>
                      <nz-form-control>
                        <nz-select id="companyId" nzShowSearch nzAllowClear nzPlaceHolder="Chọn công ty" formControlName="companyId">
                          <nz-option nzCustomContent [nzLabel]="'Tất cả'" [nzValue]="null">
                            Tất cả
                          </nz-option>
                          <nz-option *ngFor="let cp of lstCompanyProfile" nzCustomContent [nzLabel]="cp.companyName" [nzValue]="cp.id">
                            <img class="anticon" [src]="cp.viewLinkLogo" width="16px" height="16px" alt="">
                            {{cp.companyName}}
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'companyId'">Chọn trạng thái</nz-form-label>
                      <nz-form-control>
                        <nz-select id="wfStatusCd" nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái" formControlName="wfStatusCd">
                          <nz-option nzCustomContent [nzLabel]="'Tất cả'" [nzValue]="null">
                            Tất cả
                          </nz-option>
                          <nz-option *ngFor="let status of lstWfStatusCd" nzCustomContent [nzLabel]="status.name" [nzValue]="status.code">
                            {{status.name}}
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8" class="search-area">
                    <button class="rounded" nz-button [nzType]="'primary'" (click)="loadPendingTask()">Tìm kiếm</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="kttk-table-list mt-2">
          <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzTotal]="totalData"
            [nzPageIndex]="pageIndex"
            [nzPageSize]="pageSize"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="changePageIndex($event)"
            (nzPageSizeChange)="changePageSize($event)"
          >
            <thead>
            <tr>
              <th
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Id</th>
              <th>Tên job</th>
              <th>Trạng thái</th>
              <th>Ngày tạo</th>
              <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td>{{data.id}}</td>
              <td>{{ data.string2 }}</td>
              <td>{{ getPendingTaskName(data.wfStatusCode) }}</td>
              <td>{{ data.createDate }}</td>
              <td>
                <a [routerLink]="'/admin/pending-task-detail/' + data.id" class="rounded" nz-button [nzType]="'primary'" (click)="showModal2(data)"><i nz-icon [nzType]="data.wfStatusCode == 'PENDING_APPROVE' ? 'check' : 'edit'" nzTheme="outline"></i> {{data.wfStatusCode == 'PENDING_APPROVE' ? 'Duyệt' : 'Chỉnh sửa'}}</a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
