<div class="container-editor">
  <div class="form-company-profile p-4">
    <nz-card nzTitle="HỒ SƠ CÔNG TY" [nzActions]="[btnSubmit]" class="card-action-left mb-2" *ngIf="!loading">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formApplicationHR"
      >
        <nz-upload
          class="avatar-uploader"
          [nzAction]="urlUpload"
          nzName="avatar"
          nzListType="picture-card"
          [nzMultiple]="false"
          [nzName]="'files'"
          nzLimit="1"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
          style="margin-left: 8px"
        >
          <ng-container *ngIf="!logoHeadhunt && !profileHeadhunt?.avatarUrl">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="logoHeadhunt || profileHeadhunt?.avatarUrl"
               [src]="logoHeadhunt ? logoHeadhunt : profileHeadhunt?.avatarUrl" style="width: 100%;height: 100%"/>
        </nz-upload>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Tên</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập tên!">
                <input type="text" nz-input formControlName="firstName"
                       placeholder="Nhập tên"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Họ</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập họ!">
                <input type="text" nz-input formControlName="lastName"
                       placeholder="Nhập họ"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Email</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập email!">
                <input type="text" nz-input formControlName="email"
                       placeholder="Nhập email"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Số điện thoại</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập số điện thoại!">
                <input type="text" nz-input formControlName="phone"
                       placeholder="Nhập số điện thoại"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Đường dây nóng</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập đường dây nóng!">
                <input type="text" nz-input formControlName="hotline"
                       placeholder="Nhập đường dây nóng"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Địa chỉ</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập địa chỉ!">
                <input type="text" nz-input formControlName="address"
                       placeholder="Nhập địa chỉ"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Giới tính</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập giới tính!">
                <nz-select
                  formControlName="gender"
                  nzPlaceHolder="Chọn giới tính"
                >
                  <nz-option *ngFor="let item of genderList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">LinkedIn</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập LinkedIn!">
                <input type="text" nz-input formControlName="linkedIn"
                       placeholder="Nhập LinkedIn"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-24" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Giới thiệu</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập mô tả!">
                <textarea rows="2" nz-input formControlName="introduction"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <ng-template #btnSubmit>
          <button nz-button nzType="primary" (click)="submitSaveOrUpdateHeadhunt()">Lưu thay đổi</button>
        </ng-template>
      </form>
    </nz-card>
    <nz-card nzTitle="HỒ SƠ CÔNG TY" *ngIf="!loading">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formAccountHR"
      >
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Mật khẩu cũ</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập mật khẩu cũ!">
                <input type="password" nz-input formControlName="oldPassword"
                       placeholder="Nhập mật khẩu cũ"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Mật khẩu mới</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập mật khẩu mới!">
                <input type="password" nz-input formControlName="newPassword"
                       placeholder="Nhập mật khẩu mới"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Xác nhận mật khẩu</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập xác nhận mật khẩu!">
                <input type="password" nz-input formControlName="confirmPassword"
                       placeholder="Nhập xác nhận mật khẩu"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <button nz-button nzType="primary" (click)="submitSaveOrUpdatePassword()" class="ml-2">Lưu thay đổi</button>
      </form>
    </nz-card>
  </div>
</div>
