<div class="container mx-auto max-w-xl items-center h-screen content-center">
  <div class="h-screen flex flex-col justify-center justify-items-center content-center px-2">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
      <h3 nz-typography class="text-center">Welcome to HeadHunt Pro</h3>
      <button nz-button  (click)="doLogin()" class="login-form-button login-form-margin" [nzType]="'dashed'">Login</button>
      <p class="mb-2 text-center">or</p>
      <button nz-button  (click)="doRegister()" class="login-form-button login-form-margin" [nzType]="'primary'">Signup</button>
    </nz-spin>
  </div>
</div>
