<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="h-full w-full">
    <div class="ant-card w-full">
      <div class="ant-card-body">
        <div class="kttk-search-form">
          <div class="ant-card w-full border-1 border-black">
            <div style="border: 1px solid #1890ff; padding-bottom: 0 !important; padding-top: 24px"
                 class="ant-card-body flex flex-col justify-center justify-items-center content-center rounded-md">
              <form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
                <div nz-row [nzGutter]="24">
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'username_search'">Tên đăng nhập</nz-form-label>
                      <nz-form-control>
                        <input
                          id="username_search"
                          formControlName="username_search"
                          nz-input
                          placeholder="Tìm theo tên đăng nhập"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'email_search'">Email</nz-form-label>
                      <nz-form-control>
                        <input
                          id="email_search"
                          formControlName="email_search"
                          nz-input
                          placeholder="Tìm theo email"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="8" class="search-area">
                    <button class="rounded" nz-button [nzType]="'primary'" (click)="loadingUserInfo()">Tìm kiếm</button>
                    <button class="rounded" nz-button (click)="resetFormSearch()">Làm mới</button>
                    <button class="rounded" nz-button [nzType]="'primary'" (click)="toggleCollapse()">
                      Thêm
                      <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="kttk-operator mt-1 mb-1">
          <div class="nz-row">
            <button class="rounded align-middle" nz-button nzType="primary" (click)="showModal1()">
              <i nz-icon nzType="plus"></i>
              Thêm mới
            </button>
            <button class="rounded align-middle" nz-button nzType="primary" nzDanger (click)="showDeleteConfirm()"
                    [disabled]="setOfCheckedId.size == 0">
              <i nz-icon nzType="delete"></i>
              Xoá
            </button>
          </div>
        </div>
        <div class="kttk-table-list">
          <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzTotal]="totalData"
            [nzPageIndex]="pageIndex"
            [nzPageSize]="pageSize"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="changePageIndex($event)"
            (nzPageSizeChange)="changePageSize($event)"
          >
            <thead>
            <tr>
              <th
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>Username</th>
              <th>Full name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Quyền</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td>{{ data.username }}</td>
              <td>{{ data.fullName }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.phone }}</td>
              <td>{{ toListRoleName(data.roles) }}</td>
              <td>
                <button class="rounded btn-edit" nz-button [nzType]="'default'" (click)="showModal2(data)">Sửa</button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
<!--    modal create-->
    <nz-modal [nzMaskClosable]="false" [nzWidth]="'65%'" [(nzVisible)]="isVisible" nzTitle="Thêm mới người dùng"
              (nzOnCancel)="handleCancel()" [nzClosable]="false">
      <div *nzModalContent>
        <form nz-form [formGroup]="formCreate" (ngSubmit)="submitForm()">
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="username">Tên đăng nhập</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập tên đăng nhập!">
                  <input  formControlName="username" type="text" nz-input
                         placeholder="Nhập tên đăng nhập"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left"  [nzSpan]="8" nzFor="roles" nzRequired>Quyền</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Chọn quyền!">
                  <nz-select
                    formControlName="roles"
                    nzPlaceHolder="Chọn quyền!"
                    nzMode="multiple">
                    <nz-option *ngFor="let roleItem of listOfRole" [nzValue]="roleItem.id"
                               [nzLabel]="roleItem.name"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="password">Mật khẩu</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Nhập mật khẩu!">
                  <nz-input-group [nzSuffix]="suffixTemplate">
                    <input
                      formControlName="password"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Nhập mật khẩu"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                       (click)="passwordVisible = !passwordVisible"></i>
                  </ng-template>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="email">Email</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Nhập email!">
                  <input formControlName="email" type="email" nz-input placeholder="Nhập email"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="phone">Số điện thoại</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập số điện thoại!">
                  <input formControlName="phone" type="tel" nz-input
                         placeholder="Nhập số điện thoại"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="fullName">Họ và tên</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập họ và tên!">
                  <input formControlName="fullName" type="text" nz-input
                         placeholder="Nhập họ và tên"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button nz-button nzType="default" nzDanger (click)="handleCancel()" [disabled]="isSaving">Huỷ</button>
        <button nz-button nzType="primary" [disabled]="!formCreate.valid" (click)="handleOk()"
                [nzLoading]="isConfirmLoading">Lưu
        </button>
      </div>
    </nz-modal>

<!--    modal edit-->
    <nz-modal [nzMaskClosable]="false" [nzWidth]="'65%'" [(nzVisible)]="isVisibleEdit" nzTitle="Sửa thông tin người dùng"
              (nzOnCancel)="handleCancelEdit()" [nzClosable]="false">
      <div *nzModalContent>
        <form nz-form [formGroup]="formEdit" (ngSubmit)="submitForm()">
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="username">Tên đăng nhập</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập tên đăng nhập!">
                  <input formControlName="username" type="text" nz-input
                         placeholder="Nhập tên đăng nhập"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left"  [nzSpan]="8" nzFor="roles" nzRequired>Quyền</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Chọn quyền!">
                  <nz-select
                    formControlName="roles"
                    nzPlaceHolder="Chọn quyền!"
                    nzMode="multiple">
                    <nz-option *ngFor="let roleItem of listOfRole" [nzValue]="roleItem.id"
                               [nzLabel]="roleItem.name"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="email">Email</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="Nhập email!">
                  <input  formControlName="email" type="email" nz-input placeholder="Nhập email"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="phone">Số điện thoại</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập số điện thoại!">
                  <input formControlName="phone" type="tel" nz-input
                         placeholder="Nhập số điện thoại"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
          <div class="ant-row">
            <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-12">
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left" [nzSpan]="8" nzRequired nzFor="fullName">Họ và tên</nz-form-label>
                <nz-form-control  [nzSpan]="12" nzErrorTip="Nhập họ và tên!">
                  <input formControlName="fullName" type="text" nz-input
                         placeholder="Nhập họ và tên"/>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button nz-button nzType="default" nzDanger (click)="handleCancelEdit()" [disabled]="isSaving">Huỷ</button>
        <button nz-button nzType="primary" [disabled]="!formEdit.valid" (click)="handleOkEdit()"
                [nzLoading]="isConfirmLoading">Lưu
        </button>
      </div>
    </nz-modal>
  </div>
</nz-spin>
