<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="h-full w-full">
    <div class="ant-card w-full">
      <div class="ant-card-body">
        <div class="kttk-menu">
          <div class="ant-card w-full border-1 border-black">
            <div class="ant-page-header ant-page-header-ghost">
              <div class="ant-page-header-heading">
                <div class="ant-page-header-heading-left">
                  <div class="ant-page-header-heading-title">
                    <div class="ant-tabs-nav" role="tablist">
                      <div class="ant-tabs-nav-wrap">
                        <div class="ant-tabs-nav-list" style="transform: translate(0px, 0px);">
                          <div class="ant-tabs-tab ant-tabs-tab-active">
                            <div role="tab" class="ant-tabs-tab-btn" tabindex="0">
                              Công việc Recruitery
                            </div>
                          </div>
                          <div class="ant-tabs-tab">
                            <div role="tab" class="ant-tabs-tab-btn" tabindex="1">
                              Công việc Nội bộ
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ant-page-header-heading-extra">
                  <a [routerLink]="'/admin/job/0/editor'" class="rounded ant-btn ant-btn-primary">
                    Tạo công việc mới
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-search-job (submitSearch)="loadingJobInfo($event)"></app-search-job>
        <div *ngIf="listJob && listJob.length">
          <app-list-job-detail [listJob]="listJob"></app-list-job-detail>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
