<div class="kttk-search-form">
  <div class="ant-card ant-card-bordered">
    <div class="ant-card-body">
      <form nz-form [formGroup]="formSearch" class="ant-form ant-form-vertical">
        <div class="ant-row flex flex-row item-center content-center" style="margin-left: -8px; margin-right: -8px; row-gap: 0;">
          <div class="ant-col ant-col-xs-24 ant-col-xl-6" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item  class="ant-row" style="row-gap: 0; ">
              <nz-form-label class="ant-col" [nzFor]="'title'">Từ khoá</nz-form-label>
              <nz-form-control class="ant-col" style="flex: unset !important;">
                <input
                  id="title"
                  formControlName="title"
                  nz-input
                  placeholder="Nhập từ khoá"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-xs-24 ant-col-xl-5" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles">
                Job type</nz-form-label>
              <nz-form-control [nzSpan]="null">
                <nz-select
                  nzPlaceHolder="Chọn loại việc" formControlName="jobType"
                  nzMode="multiple">
                  <nz-option *ngFor="let sk of listOptionJobType" [nzLabel]="sk.name" [nzValue]="sk.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-xs-24 ant-col-xl-5" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row" style="gap: 0">
              <nz-form-label class="ant-col" [nzFor]="'pendingTaskStatus'">Trạng thái</nz-form-label>
              <nz-form-control class="ant-col" style="flex: unset !important;">
                <nz-select id="pendingTaskStatus"
                  nzPlaceHolder="Trạng thái" formControlName="pendingTaskStatus"
                  nzMode="multiple">
                  <nz-option *ngFor="let sk of listOptionStatus" [nzLabel]="sk.name" [nzValue]="sk.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-xs-24 ant-col-xl-3 flex flex-col justify-center"  style="padding-left: 8px; padding-right: 8px;margin-top: 6px;">
            <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
              <div class="ant-space-item">
                <button class="rounded" nz-button [nzType]="'primary'" (click)="search()">
                  <i nz-icon [nzType]="'search'"></i>
                  Tìm kiếm
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!--<div class="mt-4">
        <nz-select [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
          <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
        </nz-select>
      </div>-->
    </div>
  </div>
</div>
