<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/admin" target="_self">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1 class="font-sans" (click)="t()">Recuiter Admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="System" nzIcon="setting" *ngIf="typeUser == 1">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/user-management">Quản lý người dùng</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Quản lý lựa chọn" nzIcon="partition" *ngIf="[1,3].includes(typeUser)">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/company-industry-setting">Ngành nghề công ty</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/company-benefit-setting">Phúc lợi công ty</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Job" nzIcon="reconciliation" *ngIf="[1].includes(typeUser)">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/job-list">Danh sách các job</a>
          </li>
          <!--<li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/department-job">Tạo phòng ban</a>
          </li>-->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/levels-job">Tạo trình độ</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/positions-job">Tạo vị trí CV</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/skills-job">Tạo mới kỹ năng</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Phê duyệt" nzIcon="check" *ngIf="[1,3].includes(typeUser)">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/pending-task">Phê duyệt job</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Ứng viên" nzIcon="team" *ngIf="[1,2,3].includes(typeUser)">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/candidates">Danh sách ứng viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/candidates-approve">Phê duyệt ứng viên ứng viên</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Giới thiệu" nzIcon="node-expand" *ngIf="[1,2,3].includes(typeUser)">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/referrals">Danh sách giới thiệu</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="flex justify-between">
          <i class="header-trigger trigger" (click)="isCollapsed = !isCollapsed"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
          <div class="flex">
            <span><i nz-icon nzType="bell" nzTheme="outline" class="fs-18 cursor-pointer"></i></span>
            <div class="mr-10">
              <span [nzDropdownMenu]="menu" nz-dropdown [nzPlacement]="'bottomRight'"><img src="/assets/landing-page/ava.jpg" alt="#" width="30" height="30" class="img-ava"></span>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngIf="typeUser == 3 || typeUser == 1"><a routerLink="/admin/account-company-setting">Cài đặt công ty</a></li>
                  <li nz-menu-item *ngIf="typeUser == 2"><a routerLink="/admin/account-headhunt-setting">Công ty</a></li>
                  <li nz-menu-item *ngIf="typeUser == 2">Công việc đã lưu</li>
                  <li nz-menu-item *ngIf="typeUser == 2">Bảng xếp hạng</li>
                  <li nz-menu-item>Placement</li>
                  <li nz-menu-item>Lịch phỏng vấn</li>
                  <li nz-menu-item (click)="doLogout()">Logout</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="px-1 py-2 text-center">Admin template design by Thắng đẹp trai</nz-footer>
  </nz-layout>
</nz-layout>
