.padding-form {
  padding-left: 8px;
  padding-right: 8px;
}

.container--full-width {
  max-width: 100vw;
  padding: 0 90px;
}

.container {
  background-color: #f7f7f7;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

:host ::ng-deep .ant-form-vertical .ant-form-item-label {

  padding: 0;
}

:host ::ng-deep .ant-upload.ant-upload-drag .ant-upload-drag-container {
  vertical-align: middle;
  display: block;
  color: #9fd3fe;
}

.col-search {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 22px;
  margin-bottom: 0;
}

.container-upload-cv {
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  min-height: 278px;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.ant-space-align-center {
  align-items: center;
}

.ant-space-vertical {
  flex-direction: column;
}

.ant-space {
  display: inline-flex;
}

.title-upload {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #40a9ff;
  margin-bottom: 9px;
}

.des-upload {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #40a9ff;
  white-space: pre;
}


.container-card-cv {
  flex-flow: column nowrap;
  height: 100%;
  background: rgb(255, 255, 255);
  border: 2px solid #e5e7eb;
  border-radius: 4px;
  transition: all 200ms ease 0s;
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.container-profile {
  width: 100%;
  padding: 20px 20px 30px;
}

.text-profile {
  font-size: 12px;
}

.cv-status {
  padding: 0px 15px;
}

@media (min-width: 992px) {
  .cv-status {
    margin-top: 10px;
  }
}

.container-btn-refer {
  padding-top: 10px;
}

.btn-refer {
  border-radius: 25px;
  padding: 0px 16px;
  z-index: 100;
  margin-bottom: 10px;
  background-color: rgb(227, 255, 239) !important;
}

.text-time-update {
  position: absolute;
  left: 24px;
  bottom: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  padding-right: 90px;
}

@media (min-width: 992px) {
  .text-time-update {
    bottom: 10px;
  }
}


.ant-avatar.ant-avatar-icon {
  font-size: 18px;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.ant-avatar.ant-avatar-icon > .anticon {
  margin: 0;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}

.ant-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  border-top: 1px solid rgba(0, 0, 0, .4);
}

:host ::ng-deep .modal-candidate1 {
  .modal-candidate2 {
    position: absolute;
    right: 0;
  }
}
.modal-candidate2 {
  position: absolute;
  right: 0;
}

.dZnhBt {
  border-radius: 8px;
  padding: 6.4px 0;
}
.kgOEdI {
  position: fixed;
  bottom: 80px;
  right: 16px;
  height: 48px;
  padding: 11px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
}
.WqvUU {
  padding: 0px 5px;
}
.IOQQG {
  display: inline-flex;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(217, 54, 62);
  gap: 8px;
}
.ihBRVl {
  border-radius: 4px;
  border: 2px solid rgb(255, 171, 54);
}
.ihBRVl span {
  color: rgb(251, 48, 48);
}
.ant-alert-warning .ant-alert-icon {
  color: #faad14;
}
