<div class="m-container container container--full-width">
  <div class="ant-card w-full">
    <div class="ant-card-body">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formSearchCandidate"
      >
        <div class="search-form">
          <div class="ant-row">
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Công việc</nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of jobTitle"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Phân loại</nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of classifyJob"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Lọc theo vị trí
                </nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of locations"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Lọc theo ngày nộp đơn
                </nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of dueDateJob"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>CV phải có các từ khóa sau
                </nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of skillJob"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-6 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>
                  CV có thể có các từ khóa sau
                </nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed">
                    <nz-option
                      *ngFor="let option of skillJob"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-12 ant-col-lg-3 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles">
                  Năm sinh
                </nz-form-label>
                <nz-form-control [nzSpan]="null">
                  <nz-date-picker nzMode="year" [nzDisabledDate]="disabledDate" [nzPlaceHolder]="'Từ'"
                                  class="w-full"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-12 ant-col-lg-3 padding-form">
              <nz-form-item>
                <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles"></nz-form-label>
                <nz-form-control [nzSpan]="null">
                  <nz-date-picker nzMode="year" [nzDisabledDate]="disabledDate" [nzPlaceHolder]="'Đến'"
                                  class="w-full"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="ant-col ant-col-xs-24 ant-col-lg-5 padding-form col-search">
              <button type="button" class="ant-btn ant-btn-link pl-0">
                <span>Xoá tất cả</span>
              </button>
              <button type="submit" class="ant-btn ant-btn-primary">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="anticon"
                     height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="ml-1">Tìm Kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </form>
      <h3 class="ant-typography ml-2">Vui lòng giới thiệu công việc phù hợp cho ứng viên</h3>
      <div class="list-candidates">
        <div class="modal-create-candidate-open">

        </div>
        <div class="item-candidate">
          <div class="ant-row" style="margin-left: -8px; margin-right: -8px; flex-wrap: wrap; row-gap: 16px;">
            <button type="button" class="ant-btn ant-btn-lg referrals-list__FilterButton-sc-krd8as-4 kgOEdI"
                    (click)="showModal2()"
                    style="margin-bottom: 0px; z-index: 500;" ant-click-animating-without-extra-node="false"><span
              class="ant-badge ant-badge-status candidate-upload-v2__BadgeFloatingBtn-sc-1nu1xc1-6 WqvUU"><span
              role="img" aria-label="edit" class="anticon anticon-edit">
                  <svg viewBox="64 64 896 896"
                       focusable="false" data-icon="edit"
                       width="1em" height="1em"
                       fill="currentColor" aria-hidden="true"><path
                    d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z"></path></svg></span><sup
              data-show="true" class="ant-scroll-number ant-badge-count ant-badge-count-sm ant-badge-status-success"
              title="3"><span class="ant-scroll-number-only" style="transition: none 0s ease 0s;"><span
              class="ant-scroll-number-only-unit current">3</span></span></sup></span></button>
            <div
              class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-12 ant-col-xl-8 ant-col-xxl-6 padding-form">
              <nz-upload
                nzType="drag"
                [nzMultiple]="false"
                [nzName]="'files'"
                nzLimit="20"
                [nzAction]="urlUpload"
                (nzChange)="handleChange($event)"
              >

                <div class="ant-upload-drag-container">
                  <div
                    class="ant-space ant-space-vertical ant-space-align-center candidate-upload-v2__CardUpload-sc-1nu1xc1-3 container-upload-cv"
                    style="gap: 8px;">
                    <div class="ant-space-item" style="">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
                           color="#1aa94c"
                           height="32" width="32" xmlns="http://www.w3.org/2000/svg" style="color: #40a9ff">
                        <path
                          d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path>
                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path>
                      </svg>
                    </div>
                    <div class="ant-space-item">
                      <div class="ant-typography">
                        <span class="ant-typography title-upload">Nhấp vào khung để chọn file tải lên</span>
                        <div class="ant-typography">
                          <span class="ant-typography des-upload">PDF chỉ có thể tải lên tối đa 3MB,<br>Bạn có thể cập nhật nhiều hơn 1 CV</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </nz-upload>
            </div>
            <div
              class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-12 ant-col-xl-8 ant-col-xxl-6 padding-form"
              (click)="showModal3()">
              <div
                class="ant-row ant-row-space-between candidate-card__CandidateCardContainer-sc-18it83r-0 container-card-cv"
                style="row-gap: 0px;">
                <div class="candidate-card__ContainerCard-sc-18it83r-1 container-profile" style="padding-bottom: 10px;">
                  <div class="ant-space ant-space-vertical" style="width: 100%; gap: 8px;">
                    <div class="ant-space-item" style="">
                      <div class="ant-row ant-row-space-between"
                           style="margin-left: -8px; margin-right: -8px; position: relative; row-gap: 0px;">
                        <div class="ant-col ant-col-xs-24 ant-col-lg-24 padding-form">
                          <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                            <div class="ant-col ant-col-xs-4 ant-col-sm-6 ant-col-lg-4 padding-form"><span
                              class="ant-avatar ant-avatar-circle ant-avatar-icon"
                              style="width: 44px; height: 44px; line-height: 44px; font-size: 22px;"><span role="img"
                                                                                                           aria-label="user"
                                                                                                           class="anticon anticon-user"><svg
                              viewBox="64 64 896 896" focusable="false" data-icon="user" width="1em" height="1em"
                              fill="currentColor" aria-hidden="true"><path
                              d="M858.5 763.6a374 374 0 00-80.6-119.5 375.63 375.63 0 00-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 00-80.6 119.5A371.7 371.7 0 00136 901.8a8 8 0 008 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 008-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"></path></svg></span></span>
                            </div>
                            <div class="ant-col ant-col-xs-20 ant-col-sm-18 ant-col-lg-20 padding-form">
                              <div class="ant-row ant-row-middle" style="row-gap: 0;"><h5
                                class="ant-typography ant-typography-ellipsis ant-typography-single-line ant-typography-ellipsis-single-line"
                                style="margin: 0; font-size: 14px;"></h5></div>
                              <span
                                class="ant-typography ant-typography-ellipsis ant-typography-single-line ant-typography-ellipsis-single-line"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-space-item">
                      <div class="ant-row" style="row-gap: 4px;">
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Danh mục</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography">Product, Business Analyst, Product Manager, Scrum Master</span>
                            </div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Vị trí</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography"><svg stroke="currentColor" fill="none" stroke-width="0"
                                                          viewBox="0 0 24 24" class="anticon" height="1em" width="1em"
                                                          xmlns="http://www.w3.org/2000/svg"><path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M20 12H4"></path></svg></span>
                            </div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Mức lương</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography">Negotiable</span></div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Sơ lược</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography"><div
                              class="ant-typography ant-typography-ellipsis ant-typography-ellipsis-multiple-line"
                              style="margin-bottom: 0px; word-break: break-word; -webkit-line-clamp: 2;"></div></span>
                            </div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Email</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography">manhvu197999@gmail.com</span></div>
                          </div>
                        </div>
                        <div class="ant-col ant-col-offset-4 ant-col-xs-20" style="">
                          <div class="ant-row info-sentence__InfoSentenceContainer-sc-pssnx7-0 text-profile"
                               style="margin-left: -4.5px; margin-right: -4.5px; row-gap: 0px;">
                            <div class="ant-col ant-col-8" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography ant-typography-secondary">Phân loại</span></div>
                            <div class="ant-col ant-col-16" style="padding-left: 4.5px; padding-right: 4.5px;"><span
                              class="ant-typography">Non-IT</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="candidate-card__BottomGroup-sc-18it83r-4 cv-status">
                  <div class="ant-divider ant-divider-horizontal" role="separator"
                       style="margin: 0px; opacity: 0.6;"></div>
                  <div
                    class="ant-row ant-row-end ant-row-middle candidate-card__BottonContainer-sc-18it83r-5 container-btn-refer"
                    style="row-gap: 0px;">
                    <button type="button"
                            class="ant-btn ant-btn-primary ant-btn-background-ghost candidate-card__ButtonRefer-sc-18it83r-2 btn-refer">
                      <span>Giới thiệu</span></button>
                  </div>
                </div>
                <div class="candidate-card__ActiveBox-sc-18it83r-7 text-time-update">
                  <div>Hoạt động lần cuối: 17 Tháng 3, 2022</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<ng-template #footer>
  <div class="ant-row ant-row-center ant-row-middle" style="margin-left: -8px; margin-right: -8px; row-gap: 8px;">
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button type="button"
              class="ant-btn ant-btn-lg ant-btn-background-ghost ant-btn-block ant-btn-dangerous styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Hủy bỏ</span></button>
    </div>
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button type="button"
              class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Save</span></button>
    </div>
  </div>
</ng-template>
<ng-template #footerView>
  <div class="ant-row ant-row-center ant-row-middle" style="margin-left: -8px; margin-right: -8px; row-gap: 8px;">
    <div class="ant-col ant-col-xs-24 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <div data-show="true" class="ant-alert ant-alert-warning" role="alert">
        <span role="img"
           aria-label="exclamation-circle"
           class="anticon anticon-exclamation-circle ant-alert-icon">
          <svg
            viewBox="64 64 896 896" focusable="false" data-icon="exclamation-circle" width="1em" height="1em"
            fill="currentColor" aria-hidden="true"><path
            d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm-32 232c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V296zm32 440a48.01 48.01 0 010-96 48.01 48.01 0 010 96z"></path></svg></span>
        <div class="ant-alert-content">
          <div class="ant-alert-message">Đang chờ duyệt</div>
        </div>
      </div>
    </div>
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button type="button"
              class="ant-btn ant-btn-lg ant-btn-background-ghost ant-btn-block ant-btn-dangerous styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Hủy bỏ</span></button>
    </div>
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button type="button"
              class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Save</span></button>
    </div>
  </div>
</ng-template>
<ng-template #extra>
  <div class="styled__ButtonGroupHeader-sc-1izg9ek-1 IOQQG" style="margin-top: 0px;">
    <button type="button" class="ant-btn ant-btn-dangerous styled__ButtonDeleteCandidate-sc-1izg9ek-2 ihBRVl">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="anticon" height="1em"
           width="1em" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              clip-rule="evenodd"></path>
      </svg>
      <span class="ant-typography">Xóa ứng viên</span></button>
    <div class="select-update-status-candidate__Wrapper-sc-5k2rie-0 dKpESA">
      <div
        class="ant-select select-update-status-candidate__CustomSelect-sc-5k2rie-1 GFVJx ant-select-single ant-select-show-arrow">
        <nz-select style="width: 150px" [(ngModel)]="statusUV">
          <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</ng-template>
