<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="h-full w-full">
    <div class="ant-card w-full">
      <div class="ant-card-body">
        <nz-steps [nzCurrent]="current">
          <nz-step nzTitle="Thông tin chi tiết"></nz-step>
          <nz-step nzTitle="Cấu hình"></nz-step>
          <nz-step nzTitle="Hoàn thành"></nz-step>
        </nz-steps>

        <div class="container">
          <div *ngIf="current == 0">
            <div class="ant-card w-full">
              <div class="ant-card-body">
                <h1 class="text-2xl font-bold">Chức danh và thông tin chi tiết:</h1>
                <div class="ml-2">
                  <p class="leading-loose"><strong>Tên công việc (Job title):</strong> {{jobInfo?.title}}</p>
                  <p class="leading-loose"><strong>Kỹ năng (Skills):</strong> {{getListSkill(jobInfo?.skills)}}</p>
                  <p class="leading-loose"><strong>Mức
                    lương:</strong> {{jobInfo?.isNegotiableSalary == 'Y' ? 'Thoả thuận' : 'Không thoả thuận'}}</p>
                  <p *ngIf="jobInfo?.isNegotiableSalary == 'N'" class="leading-loose">
                    <strong>Lương tối thiểu:</strong> {{jobInfo?.salaryFrom}}
                  </p>
                  <p *ngIf="jobInfo?.isNegotiableSalary == 'N'" class="leading-loose">
                    <strong>Lương tối đa:</strong> {{jobInfo?.salaryTo}}
                  </p>
                  <p class="leading-loose">
                    <strong>Số lượng còn trống:</strong> {{jobInfo?.vacancies}}
                  </p>
                  <p class="leading-loose">
                    <strong>Quy mô:</strong> {{jobInfo?.teamSize}}
                  </p>
                  <p class="leading-loose">
                    <strong>Bộ phận:</strong> {{jobInfo?.department}}
                  </p>
                  <p class="leading-loose">
                    <strong>Phân loại job:</strong> {{jobInfo?.jobType}}
                  </p>
                  <p class="leading-loose">
                    <strong>Vị trí:</strong> {{getLocation(jobInfo?.locations)}}
                  </p>
                  <p class="leading-loose">
                    <strong>Địa chỉ:</strong> {{jobInfo?.address}}
                  </p>
                </div>

                <h1 class="text-2xl font-bold mt-2">Mô tả công việc:</h1>
                <div class="ml-2">
                  <p class="leading-loose">
                    <strong>Tổng quan và trách nhiệm công việc:</strong> {{jobInfo?.jobOverView}}
                  </p>
                  <p class="leading-loose">
                    <strong>Yêu cầu về Kỹ năng và Kinh nghiệm:</strong> {{jobInfo?.jobRequirement}}
                  </p>
                  <p class="leading-loose">
                    <strong>Những kỹ năng và kinh nghiệm được ưu tiên:</strong> {{jobInfo?.prioritySkill}}
                  </p>
                  <p class="leading-loose">
                    <strong>Tại sao ứng viên nên ứng tuyển vào vị trí này:</strong> {{jobInfo?.whyWokingHere}}
                  </p>
                  <p class="leading-loose">
                    <strong>Quá trình phỏng vấn:</strong> {{jobInfo?.interviewingProcess}}
                  </p>
                  <p class="leading-loose">
                    <strong>Thời gian cho công việc:</strong> {{jobInfo?.employeeType}}
                  </p>
                  <p class="leading-loose">
                    <strong>Trình độ:</strong> {{getLevel(jobInfo?.levels)}}
                  </p>
                  <p class="leading-loose">
                    <strong>Thông báo đến Headhunter:</strong> {{jobInfo?.noticeToHeadhunter}}
                  </p>
                </div>
                <h1 class="text-2xl font-bold mt-2">Thông tin công ty:</h1>
                <div class="ml-2">
                  <p class="leading-loose">
                    <strong>Tên công ty:</strong> {{jobInfo?.companyProfile?.companyName}}
                  </p>
                  <div>
                    <img [src]="domain + jobInfo?.companyProfile?.viewLinkLogo" alt="" width="64px" height="64px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="current == 1">
            <div class="ant-card w-full">
              <div class="ant-card-body">
                <h1 class="text-2xl font-bold mb-2">Đặt tiền thưởng và độ ưu tiên:</h1>
                <form [formGroup]="formConfigJob" nz-form autocomplete="off">
                  <nz-form-item class="ant-row">
                    <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Tiền thưởng</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Nhập tiền thưởng">
                      <nz-input-number class="w-full" [nzMin]="0" [nzMax]="99999999999999999" [nzStep]="1"
                                       formControlName="reward"
                                       [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item class="ant-row">
                    <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Độ ưu tiên</nz-form-label>
                    <nz-form-control nzErrorTip="Nhập độ ưu tiên!">
                      <input type="number" nz-input placeholder="Độ ưu tiên" formControlName="priorityJob"/>
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="current == 2">
            <div class="ant-card w-full">
              <div class="ant-card-body">
                <h2 class="text-2xl font-bold mb-2 text-center">Kết quả</h2>
                <h1 class="text-blue-600 text-center text-2xl">
                  <i nz-icon [nzType]="resultCheck ? 'check-circle' : 'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="resultCheck ? '#52c41a' : '#eb4034'"></i>
                </h1>
                <br>
                <h2 class="text-xl text-center">{{resultCheck ? 'Thành công!' : 'Thất bại!'}}</h2>
                <br>
                <p class="text-center">
                  <a nz-button nzType="primary" [routerLink]="'/admin/pending-task'" >Xem danh sách</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-action">
          <button class="align-middle" nz-button nzType="default" (click)="pre()" *ngIf="current > 0 && current < 2">
            <i  class="align-middle" nz-icon nzType="left"></i>
            <span>Quay lại</span>
          </button>
          <button class="align-middle" nz-button nzType="default" (click)="next()" *ngIf="current === 0">
            <i  class="align-middle" nz-icon nzType="right"></i>
            <span>Tiếp tục</span>
          </button>
          <button class="align-middle" nz-button nzType="primary" (click)="submitData('APPROVED')" *ngIf="current === 1">
            <i  class="align-middle" nz-icon nzType="check"></i>
            <span>Phê duyệt</span>
          </button>
          <button class="align-middle" nz-button nzType="primary" (click)="submitData('REJECTED')" *ngIf="current === 1"
                  nzDanger>
            <i  class="align-middle" nz-icon nzType="close-circle"></i>
            <span>Từ chối</span>
          </button>
          <button class="align-middle" nz-button nzType="default" (click)="submitData('CLOSED')" *ngIf="current === 1"
                  [nzLoading]="submitting" nzDanger>
            <i  class="align-middle" nz-icon nzType="stop"></i>
            <span>Đóng job</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
