<div class="container-form">
  <nz-tabset nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Company-Profile' }" queryParamsHandling="merge">
        Company Profile
      </a>
      <app-company-profile></app-company-profile>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'Slides' }" queryParamsHandling="merge">
        Slides
      </a>
      <app-slides-show-company></app-slides-show-company>
    </nz-tab>
  </nz-tabset>
</div>
