<div class="ant-drawer-footer" style="box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 8px 0px;">
  <div class="ant-row ant-row-center ant-row-middle" style="margin-left: -8px; margin-right: -8px; row-gap: 8px;">
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button type="button"
              class="ant-btn ant-btn-lg ant-btn-background-ghost ant-btn-block ant-btn-dangerous styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Hủy bỏ</span></button>
    </div>
    <div class="ant-col ant-col-xs-12 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
      <button id="create-candidate-btn" type="button"
              class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block styled__ButtonItem-sc-1izg9ek-3 dZnhBt">
        <span>Save</span></button>
    </div>
  </div>
</div>
