.list-job {
  .job-element-detail {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 2px;
    padding: 16px 24px;
    background: rgb(255, 255, 255);
    margin-top: 16px;
    border: 1px solid #e5e7eb;

    .job-detail-title {
      display: flex;
    }
    .wbrie {
      font-size: 12px !important;
      margin-left: 24px;
      margin-top: 4px;
    }

    @media (min-width: 992px) {
      .wbrie {
        font-size: 14px !important;
      }
    }

  }

}
.ant-typography {
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;

  overflow-wrap: break-word;
}

.ant-statistic {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum","tnum";
}
.ant-statistic-title {
  margin-bottom: 4px;
  font-size: 14px;
}
.ixhkfr .ant-statistic-title {
   text-align: center;
 }
