<div class="container">
  <div class="list-job">
    <div class="job-element-detail" *ngFor="let job of listJob">
      <div class="job-detail-title justify-between">
        <div class="flex">
          <div class="ant-typography text-base-color">{{job.title}}</div>
          <div class="wbrie">{{job.locationStr}}</div>
        </div>
        <div class="flex">
          <nz-button-group>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
              Đang chờ duyệt<i nz-icon nzType="down"></i>

            </button>
          </nz-button-group>
          <nz-button-group>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
              <i nz-icon nzType="more" nzTheme="outline"></i>
            </button>
          </nz-button-group>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Đóng trên nền tảng recruiery</li>
            </ul>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="updateJob(job.id)">Chỉnh sửa</li>
              <li nz-menu-item>Xem chi tiết</li>
              <li nz-menu-item>Nhân bản</li>
              <li nz-menu-item style="color: red">Xóa</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <div class="assorted-status-job flex">
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Mới</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Đánh giá</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Phỏng vấn</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Offer</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Placement</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
        <div class="text-center flex flex-1 flex-col">
          <div class="ant-statistic-title">Từ chối</div>
          <div class="ant-statistic-content"><span class="ant-statistic-content-value"><span class="ant-statistic-content-value-int">0</span></span></div>
        </div>
      </div>
      <div>Ứng viên <span class="text-base-color">{{'0'}}</span> <span> | Last update: {{'7 Tháng 7, 2022 22:09'}}</span></div>
    </div>
  </div>

</div>
