<div class="container-editor">
  <div class="form-company-profile p-4">
    <nz-card nzTitle="HỒ SƠ CÔNG TY" *ngIf="!loadingForm">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formCompanyProfile"
      >
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null" (click)="t()">Tên công ty</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập tên công ty!">
                <input type="text" nz-input formControlName="companyName"
                       placeholder="Nhập tên công ty"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Số điện thoại</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập số điện thoại!">
                <input type="text" nz-input formControlName="companyPhone"
                       placeholder="Nhập số điện thoại"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>

              <nz-form-label class="font-medium" [nzSpan]="null">Địa chỉ</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập địa chỉ!">
                <input type="text" nz-input formControlName="companyAddress"
                       placeholder="Nhập địa chỉ công ty"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Quy mô công ty</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quy mô công ty!">
                <nz-select
                  nzPlaceHolder="Chọn quy mô công ty" formControlName="companySize"
                  nzMode="default">
                  <nz-option *ngFor="let size of sizeCompany" [nzLabel]="size.name" [nzValue]="size.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Email công việc</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập email công ty!">
                <input type="text" nz-input formControlName="companyEmail"
                       placeholder="Nhập địa chỉ công ty"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Cc</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập Cc!">
                <input type="text" nz-input formControlName="ccMail"
                       placeholder="Nhập cc"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Ngành nghề công ty</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Chọn Ngành nghề công ty!">
                <nz-select
                  nzPlaceHolder="Chọn Ngành nghề công ty" formControlName="companyIndustries"
                  nzMode="multiple">
                  <nz-option *ngFor="let career of careerCompany" [nzLabel]="career.name"
                             [nzValue]="career.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Website</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập Website!">
                <input type="text" nz-input formControlName="website"
                       placeholder="Nhập Website"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="ant-row items-end">
          <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null">Giờ làm việc</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập giờ làm việc!">
                <input type="text" nz-input formControlName="workingHours"
                       placeholder="Nhập giờ làm việc công ty"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <button nz-button nzType="primary" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>

      </form>
    </nz-card>

    <nz-card nzTitle="PHÚC LỢI" *ngIf="!loadingForm">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formCompanyBenefits"
      >

        <div class="ant-row items-end">
          <ng-container formArrayName="benefitDetails">
            <ng-container *ngFor="let bf of benefits.controls; let i = index">
              <div class="ant-col ant-col-md-12" style="padding-left: 8px; padding-right: 8px;" [formGroupName]="i">

                <nz-form-item>
                  <label nz-checkbox formControlName="benefitCheckbox">
                    <div class="flex">
                      <fa-icon [icon]="formCompanyBenefits.value.benefitDetails[i].icon"></fa-icon>
                      <span>{{formCompanyBenefits.value.benefitDetails[i].name}}</span>
                    </div>
                  </label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập mô tả!">
                    <textarea rows="2" nz-input formControlName="detail"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <button nz-button nzType="primary" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>

      </form>
    </nz-card>

    <nz-card nzTitle="NHẬN DẠNG CÔNG TY" *ngIf="!loadingForm">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formCompanyIdentity"
      >
        <h4 class="ant-typography">Logo công ty</h4>
        <p>
          Recruitery sẽ hiển thị logo của công ty bạn trên trang nghề nghiệp, trong email gửi đến
          ứng viên cũng như trên trang đăng tuyển công việc.
        </p>
        <p>Hình ảnh</p>
        <nz-upload
          class="avatar-uploader"
          [nzAction]="urlUpload"
          nzName="avatar"
          nzListType="picture-card"
          [nzMultiple]="false"
          [nzName]="'files'"
          nzLimit="1"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!logoCompany && !profileCompany.viewLinkLogo">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="logoCompany || profileCompany.viewLinkLogo" [src]="logoCompany ? logoCompany : profileCompany.viewLinkLogo" style="width: 100%" />
        </nz-upload>
        <angular-editor [placeholder]="'Enter text here...'" formControlName="description"></angular-editor>
        <button class="mt-3 ml-0-i" nz-button nzType="primary" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>
      </form>
    </nz-card>
    <nz-card nzTitle="GALLERY" *ngIf="!loadingForm">
      <div>
        <div class="mb-2">
          <h5 class="mb-2 ant-typography">Hình ảnh</h5>

        </div>
        <div class="flex">
          <div class="clearfix">
            <nz-upload
              [nzAction]="urlUpload"
              [nzMultiple]="true"
              [nzName]="'files'"
              nzListType="picture-card"
              [(nzFileList)]="imgListGallery"
              [nzShowButton]="!imgListGallery || imgListGallery.length < 8"
              [nzPreview]="handlePreview"
              (nzChange)="handleChangeGallery($event)"
            >
              <div>
                <i nz-icon nzType="plus"></i>
                <div style="margin-top: 8px">Upload</div>
              </div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" >
              </ng-template>
            </nz-modal>
          </div>
        </div>
        <button nz-button nzType="primary" class="mt-2 ml-0-i" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>
      </div>
    </nz-card>
    <nz-card nzTitle="THÔNG TIN CHIA SẺ MẠNG XÃ HỘI" *ngIf="!loadingForm">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formCompanySocialSharingDetail"
      >
        <div class="ant-row flex">
          <div class="ant-col ant-col-md-6 flex">
            <div class="flex flex-col card-image-social">
              <img *ngIf="imgThumbnail || profileCompany.viewLinkThumbnail" class="w-full" [src]="imgThumbnail ? imgThumbnail : profileCompany.viewLinkThumbnail" alt="#">
              <p *ngIf="!imgThumbnail && !profileCompany.viewLinkThumbnail">Không có hình ảnh</p>
            </div>
          </div>
          <div class="ant-col ant-col-md-18 flex flex-col">
            <h4 class="ant-typography">Thumbnail</h4>
            <p>Workable displays a default image when sharing your jobs or careers page on social media.
              To display your own image, choose the image below and save your changes.</p>
            <h4 class="ant-typography">Image</h4>
            <nz-upload
              nzType="drag"
              [nzMultiple]="false"
              [nzAction]="urlUpload"
              [nzLimit]="1"
              [nzName]="'files'"
              [nzShowUploadList]="false"
              (nzChange)="handleChangeThumbnail($event)"
            >
              <span class="ant-typography block p-4"><a class="ant-typography">Upload a file</a> or drag and drop here</span>
            </nz-upload>
            <p class="mt-8">600x600 px at least & 8 MB maximum file size.</p>
            <h4 class="ant-typography">Description</h4>
            <p>Write a brief description of your company to be displayed under the thumbnail image when sharing on social media sites.
              If you share a specific job, the beginning of your job description will be displayed instead.</p>
            <div class="ant-row">
              <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-24 ant-col-lg-24">
                <nz-form-control [nzSpan]="null" nzErrorTip="Vui lòng nhập mô tả!">
                  <textarea rows="2" nz-input formControlName="thumbnailDescription"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-11 ant-col-lg-11">
                <nz-form-label [nzFor]="'linkedIn'">LinkedIn</nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnBefore=" ">
                    <input
                      id="linkedIn"
                      formControlName="linkedIn"
                      nz-input
                      placeholder="LinkedIn"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="ant-col ant-col-sm-24 ant-col-md-11 ant-col-push-2 ant-col-lg-11">
                <nz-form-label [nzFor]="'facebook'">Facebook</nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnBefore=" ">
                    <input
                      id="facebook"
                      formControlName="facebook"
                      nz-input
                      placeholder="facebook"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <button class="mt-2" nz-button nzType="primary" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>
      </form>
    </nz-card>
    <nz-card nzTitle="THÔNG TIN ĐẠI DIỆN" *ngIf="!loadingForm">
      <form
        nz-form
        [nzLayout]="'vertical'" [formGroup]="formCompanyRepresentativeInfo"
      >
        <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
          <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row">
              <nz-form-label class="text-left font-medium" [nzSpan]="null" >Tên</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập mức lương thấp nhất!">
                <input  formControlName="firstNameRepresentative" type="text" nz-input
                        placeholder="Nhập mức lương thấp nhất"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row">
              <nz-form-label class="text-left font-medium" [nzSpan]="null"></nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập mức lương cao nhất!">
                <input  formControlName="lastNameRepresentative" type="text" nz-input
                        placeholder="Nhập mức lương cao nhất"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row">
              <nz-form-label class="text-left font-medium" [nzSpan]="null">Tiêu đề</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập tiêu đề!">
                <input  formControlName="headline" type="text" nz-input
                        placeholder="Nhập tiêu đề"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
          <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row">
              <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Email công việc</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập Email!">
                <input  formControlName="emailRepresentative" type="text" nz-input
                        placeholder="Nhập email"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12" style="padding-left: 8px; padding-right: 8px;">
            <nz-form-item class="ant-row">
              <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Số điện thoại</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Nhập mức lương cao nhất!">
                <input  formControlName="phoneRepresentative" type="text" nz-input
                        placeholder="Nhập tên đăng nhập"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>


      <button class="mt-2" nz-button nzType="primary" (click)="submitSaveOrUpdate()">Lưu thay đổi</button>
    </nz-card>
  </div>
</div>
