:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.img-gallery {
  height: 104px;
  width: 104px;
}
.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[nz-form-label] {
  overflow: visible;
}

button {
  margin-left: 8px;
}

.collapse {
  margin-left: 8px;
  font-size: 12px;
}

.search-area {
  text-align: left;
}

.btn-edit {
  background-color: rgb(250 204 21) !important;
  border-color: rgb(254 240 138) !important;
  color: #fff;
}

.container-editor {
  background-color: #F7F7F7;
}
nz-card {
  margin-bottom: 6px;
}

.ml-0-i {
  margin-left: 0 !important;
}

.card-image-social {
  padding: 24px;
}
