<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
  <div class="sm:container sm:mx-auto">
    <div class="h-full w-full">
      <div class="ant-card w-full">
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h4 class="ant-typography" (click)="t()">Chi tiết thông tin Job</h4>
            </div>
            <div class="ant-card-extra">
              <div class="flex items-center ml-auto">
                <nz-switch [(ngModel)]="isPlatform"></nz-switch>
                <span class="ml-2">Tìm ứng viên trên recruitery</span>
              </div>
            </div>
          </div>
        </div>
        <div class="ant-card-body">
          <form
            nz-form
            [nzLayout]="'vertical'" [formGroup]="form" *ngIf="!loading"
          >
            <nz-form-item>
              <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Tên job</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                <input type="text" nz-input formControlName="title"
                       placeholder="Nhập tên job"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Kỹ năng</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Chọn quyền!">
                <nz-select
                  nzPlaceHolder="Select skills" formControlName="skills"
                  nzMode="multiple">
                  <nz-option *ngFor="let sk of skills" [nzLabel]="sk.name" [nzValue]="sk.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <div class="ant-row items-end">
              <div class="ant-col ant-col-sm-24 ant-col-md-24" style="padding-left: 8px; padding-right: 8px;">
                <nz-form-label class="font-medium" [nzSpan]="null">
                  <span style="margin-right: 10px;">Lương</span>
                  <label nz-checkbox formControlName="isNegotiableSalary">Thoả thuận</label>
                </nz-form-label>
              </div>
            </div>
            <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Min</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Nhập mức lương thấp nhất!">
                    <nz-input-number class="w-full" [nzMin]="0" [nzMax]="99999999999999999" [nzStep]="1" formControlName="salaryFrom"
                                     [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Max</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Nhập mức lương cao nhất!">
                    <nz-input-number class="w-full" [nzMin]="0" [nzMax]="99999999999999999" [nzStep]="1" formControlName="salaryTo"
                                     [nzFormatter]="formatterVND" [nzParser]="parserVND"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Vacancies</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Nhập số lượng còn trống!">
                    <nz-input-group>
                      <input type="text" nz-input nzOverlayClassName="numeric-input" formControlName="vacancies"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-6" style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired>Team size</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Nhập quy mô!">
                    <nz-input-group>
                      <input type="text" nz-input nzOverlayClassName="numeric-input" formControlName="teamSize"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12"
                   style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Phòng ban</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your department!">
                    <input type="text" nz-input formControlName="department"
                           placeholder="Nhập tên phòng ban"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12"
                   style="padding-left: 8px; padding-right: 8px;">
                <nz-form-item class="ant-row">
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Loại job</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your type job!">
                    <input type="text" nz-input formControlName="jobType"
                           placeholder="Nhập tên loại job"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <nz-form-item>
              <nz-form-label class="font-medium" [nzSpan]="null" nzFor="roles" nzRequired>Nơi làm việc</nz-form-label>
              <nz-form-control [nzSpan]="null" nzErrorTip="Chọn nơi làm việc!">
                <nz-select
                  nzPlaceHolder="Chọn nơi làm việc" formControlName="locations"
                  nzMode="multiple">
                  <nz-option *ngFor="let sk of locations" [nzLabel]="sk.name" [nzValue]="sk.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <div class="ant-row ant-form-item">
                <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired nzFor="phone">Địa chỉ làm việc
                </nz-form-label>
                <nz-form-control [nzSpan]="null" nzErrorTip="Địa chỉ làm việc!">
                  <input type="tel" nz-input formControlName="address"
                         placeholder="Nhập địa chỉ làm việc"/>
                </nz-form-control>
              </div>
            </nz-form-item>
            <div class="ant-card w-full">
              <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                  <div class="ant-card-head-title">
                    <h4 class="ant-typography">Mô tả Job</h4>
                  </div>
                </div>
              </div>
              <div class="ant-card-body">
                <nz-form-item>
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Tổng quan về công việc và trách nhiệm
                  </nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                <textarea rows="4" nz-input
                          placeholder="Enter the job description here; include key areas of responsibility and what the candidate might do on a typical day."
                          formControlName="jobOverView"
                ></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Kỹ năng và kinh nghiệm cần thiết
                  </nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                <textarea rows="4" nz-input
                          placeholder="Enter the job requirements here;from soft skills to the specific qualifications needed to perform the role."
                          formControlName="jobRequirement"
                ></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Các kỹ năng và kinh nghiệm được ưu
                    tiên
                  </nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                  <textarea rows="4" nz-input
                            placeholder="Enter the job preferred here; from soft skills to the specific qualifications needed to perform the role."
                            formControlName="prioritySkill"></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Lý do ứng viên nên ứng tuyển
                  </nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                <textarea rows="4" nz-input
                          placeholder="Enter the benefits here; include not just salary details but the perks that make your company unique."
                          formControlName="whyWokingHere"
                ></textarea>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <div class="ant-row ant-form-item">
                    <nz-form-label class="text-left font-medium" [nzSpan]="null" nzRequired nzFor="phone">Quá trình
                      phỏng vấn
                    </nz-form-label>
                    <nz-form-control [nzSpan]="null" nzErrorTip="Interview process!">
                      <input type="tel" nz-input formControlName="interviewingProcess"
                             placeholder="Interview process"/>
                    </nz-form-control>
                  </div>
                </nz-form-item>
                <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 0px;">
                  <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12"
                       style="padding-left: 8px; padding-right: 8px;">
                    <nz-form-item class="ant-row">
                      <nz-form-label class="font-medium" nzRequired>Loại thời gian làm việc
                      </nz-form-label>
                      <nz-form-control nzErrorTip="Please input your username!">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="employeeType">
                          <nz-option nzLabel="Full time" [nzValue]="'FULLTIME'"></nz-option>
                          <nz-option nzLabel="Part time" nzValue="'PARTTIME"></nz-option>
                          <nz-option nzLabel="Other" [nzValue]="'OTHER'"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="ant-col ant-col-12 ant-col-sm-12 ant-col-md-12"
                       style="padding-left: 8px; padding-right: 8px;">
                    <nz-form-item class="ant-row">
                      <nz-form-label class="font-medium" nzRequired >Level</nz-form-label>
                      <nz-form-control  nzErrorTip="Please input your username!">
                        <nz-select
                          nzPlaceHolder="Chọn Level" formControlName="levels"
                          nzMode="multiple">
                          <nz-option *ngFor="let sk of levels" [nzLabel]="sk.name" [nzValue]="sk.id"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <nz-form-item>
                  <nz-form-label class="font-medium" nzRequired [nzSpan]="null">Thông báo cho headhunter</nz-form-label>
                  <nz-form-control [nzSpan]="null" nzErrorTip="Please input your username!">
                <textarea rows="2" nz-input
                          placeholder="Enter the job description here; include key areas of responsibility and what the candidate might do on a typical day."
                          formControlName="noticeToHeadhunter"
                ></textarea>
                  </nz-form-control>
                </nz-form-item>
                <div class="ant-row">
                  <div class="ant-space ant-space-horizontal ant-space-align-center">
                    <div class="ant-space-item">
                      <button nz-button>Lưu nháp</button>
                    </div>
                    <div class="ant-space-item">
                      <button nz-button [nzType]="'primary'" (click)="submitForm()">Lưu và tiếp tục</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</nz-spin>
