/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-base-color {
  color: #0084ff;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 576px) {
  .container--full-width {
    max-width: 100vw;
    padding: 0 90px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container--full-width {
    max-width: 100vw;
    padding: 0 90px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container--full-width {
    max-width: 100vw;
    padding: 0 90px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
  .container--full-width {
    max-width: 100vw;
    padding: 0 90px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1224px;
  }
}

@media (min-width: 1400px) {
  .container--full-width {
    max-width: 100vw;
    padding: 0 90px;
  }
}

.m-container {
  min-height: calc(100vh - 110px);
}

.modal-right-candidate {
  position: absolute;
  right: 0;
  width: auto !important;
}

.select-form-candidate {
  width: 100%;
}
.select-form-candidate>.ant-select-selector {
  border-width: 2px !important;
  height: 42px !important;
  border-radius: 4px !important;
  padding: 8px 3px 6px 12px !important;
  align-items: center;
}

.card-action-left li {
  text-align: left;
  padding-left: 32px;
}
