<div class="container mx-auto max-w-xl items-center h-screen content-center">
  <div class="h-screen flex flex-col justify-center justify-items-center content-center px-2">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning" [nzDelay]="0">
      <h3 nz-typography class="text-center">Đăng ký HeadHunt Pro</h3>
      <nz-tabset [nzCentered]="true" (nzSelectChange)="changeRegisType($event)">
        <nz-tab nzTitle="Company">
          <form [formGroup]="formRegisCompany" nz-form autocomplete="off">
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập Họ!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Họ" formControlName="firstName"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập tên!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Tên" formControlName="lastName"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập tên công ty!">
                <nz-input-group nzPrefixIcon="home">
                  <input type="text" nz-input placeholder="Tên công ty" formControlName="company"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập số điện thoại!">
                <nz-input-group nzPrefixIcon="mobile">
                  <input type="tel" nz-input placeholder="Số điện thoại" formControlName="phone"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập email!">
                <nz-input-group nzPrefixIcon="inbox">
                  <input type="email" nz-input placeholder="Email" formControlName="email"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập tên đăng nhập!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Tên đăng nhập" formControlName="username"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập mật khẩu!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input placeholder="Mật khẩu" autocomplete="new-password" formControlName="password"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button nz-button (click)="doSignup()" class="login-form-button login-form-margin w-full" [disabled]="!formRegisCompany.valid"
                    [nzType]="'primary'">Đăng ký
            </button>
          </form>
        </nz-tab>
        <nz-tab nzTitle="Headhunt Pro">
          <form nz-form autocomplete="off" [formGroup]="formRegisHeadhunt">
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập Họ!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Họ" formControlName="firstName"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập tên!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Tên" formControlName="lastName"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập số điện thoại!">
                <nz-input-group nzPrefixIcon="mobile">
                  <input type="tel" nz-input placeholder="Số điện thoại" formControlName="phone"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập email!">
                <nz-input-group nzPrefixIcon="inbox">
                  <input type="email" nz-input placeholder="Email" formControlName="email"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập tên đăng nhập!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input placeholder="Tên đăng nhập" formControlName="username"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập mật khẩu!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input placeholder="Mật khẩu" autocomplete="new-password" formControlName="password"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button nz-button (click)="doSignup()" class="login-form-button login-form-margin w-full" [disabled]="!formRegisHeadhunt.valid"
                    [nzType]="'primary'">Đăng ký
            </button>
          </form>
        </nz-tab>
      </nz-tabset>
      <span class="mt-2">Bạn đã có tài khoản?</span><button nz-button routerLink="/login" [nzType]="'link'">Đăng nhập ngay!</button>
    </nz-spin>
  </div>
</div>
